[2022-10-11 19:07] rupsha014 opened #2 "create primary button"
Someone need to create the primary button using HTML and tailwind CSS...reference given below. ⬇️

![btn-sm-1](https://user-images.githubusercontent.com/109761128/195177526-88ffa280-d105-4b57-b0ed-90ad9a22bd59.png)

[2022-10-11 19:17] #2 closed, assigned to Rajdip019

[2022-10-11 19:44] rupsha014 opened #4 "Create a button with icon"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

![btn-sm-2](https://user-images.githubusercontent.com/109761128/195183835-52b32ef4-e0b8-4c39-be56-c5bda6eefeba.png)

After building the component please raise a PR with a screenshot of the com

[2022-10-11 20:08] ElectricPlant19 commented on #4
can you assign it to me ?

[2022-10-11 20:31] Rajdip019 commented on #4
Please go ahead! @ElectricPlant19

[2022-10-11 20:32] Rajdip019 commented on #4
Use icons from here. [Hero Icons](https://heroicons.com/) @ElectricPlant19

[2022-10-11 21:50] Rajdip019 opened #6 "Make resources readme"
This is a very beginner friendly repo. So the main goal is everyone can contribute here.

If he is lacking anything he can get those skills and then contribute.

So we need to make a `Tutorial.md` file. Where we will have.

- Git and GitHub basics ( Where to study and kunal's  YT video on git and GitHub)
- HTML CSS beginner friendly videos and docs.
- What is tailwind CSS?
- Link to it's docs
- YT

[2022-10-11 21:52] Rajdip019 opened #7 "Make a thanks to contributors section in README.md"
This should include the user's profile picture on clicking that picture we can visit his/her profile.

[2022-10-11 21:54] Rajdip019 opened #8 "Make more Issue template"
We need issue template for Bugs, Enhancement, Documentation and more.

Anyone feel free to add your inputs also in this.

[2022-10-11 21:58] Rajdip019 opened #9 "Create a Button with Icon ending"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-5](https://user-images.githubusercontent.com/91758830/195205928-13fc24cb-b788-40f4-987b-6626dc5f7ae6.png)

After building the component please raise a PR with a screenshot of the compo

[2022-10-11 22:00] Rajdip019 opened #10 "Create a Icon Button"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-6](https://user-images.githubusercontent.com/91758830/195206163-ffd4c88f-e72a-4d6e-994d-dde6ebc23c8c.png)

After building the component please raise a PR with a screenshot of the compo

[2022-10-11 22:01] Rajdip019 opened #11 "Create a Icon Button Rounded"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

![btn-sm-15](https://user-images.githubusercontent.com/91758830/195206308-1b3e2b73-2a21-4fdc-a179-5dbad308518e.png)

After building the component please raise a PR with a screenshot of the com

[2022-10-11 22:02] Rajdip019 opened #12 "Create a Primary Button Rounded"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-10](https://user-images.githubusercontent.com/91758830/195206455-6af2537e-81ff-4ba2-ad32-727210dd22df.png)

After building the component please raise a PR with a screenshot of the comp

[2022-10-11 22:03] Rajdip019 opened #13 "Create a Secondary Button"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-19](https://user-images.githubusercontent.com/91758830/195206597-8b5f6c06-d7a8-4b5f-ab58-10cce92b225e.png)

After building the component please raise a PR with a screenshot of the comp

[2022-10-11 22:04] Rajdip019 opened #14 "Create a Secondary button rounded"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-28](https://user-images.githubusercontent.com/91758830/195206767-3b478231-a9c7-442c-9cdf-2e0d4de20656.png)

After building the component please raise a PR with a screenshot of the comp

[2022-10-11 22:05] Rajdip019 opened #15 "Create a Icon Button Secondary"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-24](https://user-images.githubusercontent.com/91758830/195206919-1d1456e7-2771-4b38-8d4f-414f97cd9fac.png)

After building the component please raise a PR with a screenshot of the comp

[2022-10-11 22:16] simonpankovski commented on #9
Hey, I would like to work on this issue. I used the Tailwind playground as you suggested and created this:

![image](https://user-images.githubusercontent.com/46830637/195208160-cc204fda-dde9-4af9-990d-413474037309.png)

Could you assign me the issue so that I can make a PR :)

[2022-10-11 22:17] Rajdip019 commented on #9
Sure @simonpankovski . You are assigned.

[2022-10-11 22:44] snikoletopoulos commented on #11
Hello, can I contribute to this?

[2022-10-12 01:47] sfrunza13 commented on #7
Hi, can I give this a go?

[2022-10-12 03:16] aabhas-sao commented on #12
hey @Rajdip019, please assign me this. I would like to work on this issue.

[2022-10-12 03:34] Rajdip019 commented on #12
Go ahead @aabhas-sao

[2022-10-12 03:34] Rajdip019 commented on #11
Sure. @snikoletopoulos

[2022-10-12 03:35] Rajdip019 commented on #6
Sure. @sfrunza13

[2022-10-12 03:49] sfrunza13 commented on #13
Hi, I would like to take on this issue

[2022-10-12 03:50] Rajdip019 commented on #13
You are already assigned in two issues. Fix then and then I will assign this to you.

[2022-10-12 03:50] Rajdip019 commented on #13
You are already assigned in two issues. Fix then and then I will assign this to you.

[2022-10-12 04:04] Rajdip019 commented on #9
This issue is resolved. So closing this PR.

[2022-10-12 04:04] #9 closed

[2022-10-12 04:04] Rajdip019 commented on #11
This issue is resolved so closing this PR. @snikoletopoulos

[2022-10-12 04:04] #11 closed

[2022-10-12 04:06] Rajdip019 commented on #15
This issue is resolved so closing this issue. But from next time please wait for you to get assigned and then make a PR @agon-ny

[2022-10-12 04:06] #15 closed

[2022-10-12 04:19] sfrunza13 commented on #6
@Rajdip019 could you please link me Kunal's YT video on the topic of git and GitHub to include in the Tutorial page

[2022-10-12 04:19] prakrit55 commented on #10
Hey I would like to work on this issue :)

[2022-10-12 04:21] Rajdip019 commented on #10
Sure go ahead. @prakrit55

[2022-10-12 04:22] Rajdip019 commented on #6
Here it is [Link](https://www.youtube.com/watch?v=apGV9Kg7ics&t)

[2022-10-12 05:03] Gunika2002 commented on #14
Hey @Rajdip019 kindly assign me to this issue. I would like to work on this component

[2022-10-12 05:03] Rajdip019 commented on #14
Sure. Go ahead. @Gunika2002

[2022-10-12 05:07] Rajdip019 opened #19 "Create a secondary rounded icon button"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

![btn-sm-33](https://user-images.githubusercontent.com/91758830/195254790-4cc53212-9c8d-434e-b630-8386b5830d41.png)

After building the component please raise a PR with a screenshot of the com

[2022-10-12 05:09] kaustav202 commented on #19
let me take this up @Rajdip019

[2022-10-12 05:09] jsvigneshkanna commented on #19
Please assign me this

[2022-10-12 05:10] Rajdip019 opened #20 "Create a Secondary rounded Button with icon after the text"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-32](https://user-images.githubusercontent.com/91758830/195255140-06b5fa21-a728-4393-9486-ad2f5126b7bc.png)

After building the component please raise a PR with a screenshot of the comp

[2022-10-12 05:10] Rajdip019 commented on #19
Hey @kaustav202 go ahead. And @jsvigneshkanna please choose another component there is plenty of them. @jsvigneshkanna

[2022-10-12 05:11] SubhamChoudhury commented on #7
Hi @Rajdip019, can you assign me this issue?

[2022-10-12 05:12] SubhamChoudhury commented on #20
Hey @Rajdip019, can I take this up?

[2022-10-12 05:12] kaustav202 commented on #19
Does the icon have to be identical to the image @Rajdip019 ?

[2022-10-12 05:12] Soumya-Kushwaha commented on #7
I would like to work on this, please.

[2022-10-12 05:14] Rajdip019 opened #21 "Create a secondary button with icon after text"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-23](https://user-images.githubusercontent.com/91758830/195255775-103d4a24-b0b9-48d7-b2e1-c1a22ba16345.png)

After building the component please raise a PR with a screenshot of the comp

[2022-10-12 05:15] Rajdip019 commented on #20
Yes sure go ahead. @SubhamChoudhury

[2022-10-12 05:15] Rajdip019 commented on #19
Yes you can find it on Hero Icons

[2022-10-12 05:15] jsvigneshkanna commented on #21
Please assign this issue to my name

[2022-10-12 05:16] Rajdip019 commented on #7
Hey, @SubhamChoudhury you are already assigned to an issue. So giving this one to @Soumya-Kushwaha

[2022-10-12 05:16] Rajdip019 commented on #21
Go ahead @jsvigneshkanna

[2022-10-12 05:19] yashsarnaik22 commented on #21
can I use Bootstrap buttons?

[2022-10-12 05:19] Rajdip019 opened #22 "Create a secondary icon button rounded"
One need to make this component using `HTML` and `CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-29](https://user-images.githubusercontent.com/91758830/195256420-6fe5dbdf-ec17-4e03-a703-de47b39ccc91.png)

After building the component please raise a PR with a screenshot of the comp

[2022-10-12 05:20] yashsarnaik22 commented on #21
Ok noted!

[2022-10-12 05:21] jsvigneshkanna commented on #22
Please assign to my name

[2022-10-12 05:22] Rajdip019 commented on #22
You have already I issue assigned. Please make a PR of that to claim another one. @jsvigneshkanna

[2022-10-12 05:23] Rajdip019 opened #23 "Create a Secondary button with icon"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![btn-sm-20](https://user-images.githubusercontent.com/91758830/195256873-48efd8ad-348c-4e5e-8030-ee6cf089217f.png)

After building the component please raise a PR with a screenshot of

[2022-10-12 05:31] aritra-tech commented on #13
Can I work on this issue @Rajdip019

[2022-10-12 05:31] yugalibalbudhe commented on #22
Can you assign this to me? @Rajdip019

[2022-10-12 05:31] Rajdip019 commented on #13
Sure go ahead @aritra-tech

[2022-10-12 05:32] Rajdip019 commented on #22
Sure go ahead @yugalibalbudhe

[2022-10-12 05:33] kaustav202 commented on #19
I'm not sure i could find one like this on https://heroicons.com/

@Rajdip019

[2022-10-12 05:36] Rajdip019 commented on #19
<img width="711" alt="Screenshot 2022-10-12 at 11 05 16 AM" src="https://user-images.githubusercontent.com/91758830/195258550-2fc089d6-5d21-49f2-920f-25ff319e5c0f.png">

Here it is. It is the second icon. You can change it's color using Tailwind. @kaustav202

[2022-10-12 05:42] RajKanani1206 commented on #23
I would like to work on it.

[2022-10-12 05:46] NizarAhamed97 commented on #23
Pls assign me the issue

[2022-10-12 05:48] yashsarnaik22 commented on #21
hey @Rajdip019 I have created the buttton 'icon after text' and the file is in my local machine in buttons/icon_button_secondary.html
can I add it and create a PR?

[2022-10-12 05:49] Rajdip019 commented on #23
Go ahead @RajKanani1206

[2022-10-12 05:49] NizarAhamed97 commented on #23
Any other open issue which i can work on?

[2022-10-12 06:15] Sneha19-k commented on #22
Could you assign this issue to me @Rajdip019

[2022-10-12 06:24] Rajdip019 commented on #23
I will be adding more by today. @NizarAhamed97 . Keep looking.

[2022-10-12 06:25] Rajdip019 commented on #21
Please don't make a PR for this @jsvigneshkanna is assigned and he is working on it. I will be adding more issues. Only make a PR if you get assigned. @yashsarnaik22

[2022-10-12 06:27] Hiresh23 commented on #4
i would like to contribute

[2022-10-12 06:29] Hiresh23 commented on #12
i would like to work on this issue

[2022-10-12 06:31] Hiresh23 commented on #10
i would like to contribute ,to this issue

[2022-10-12 06:31] Hiresh23 commented on #22
i would like to contribute to this issue

[2022-10-12 06:32] #19 closed

[2022-10-12 06:34] Rajdip019 commented on #20
This issue is solved. So closing this issue. @SubhamChoudhury

[2022-10-12 06:34] #20 closed

[2022-10-12 06:48] SamagraAg commented on #6
Can I do this?

[2022-10-12 07:13] Rajdip019 commented on #22
I can not see your PR can you link the PR here?

[2022-10-12 07:18] Rajdip019 opened #29 "Create a Issue and make a component by yourself guide."
Here is a link to the figma UI kit. [Figma File](https://www.figma.com/file/0eqV7t3UKKM14UeqCSfOZb/Essential-UI---Figma-Ui-Kit-(Community)?node-id=688%3A1988)

Take a screenshot of the component you want to build. Make sure the component is not already built.

Then create an issue using the `New Component` issue template. Get assigned and build it.

This is super easy. 👍

[2022-10-12 07:26] kaustav202 commented on #8
can I take this up @Rajdip019

[2022-10-12 07:27] Rajdip019 commented on #8
Sure. @kaustav202

[2022-10-12 07:32] KanjiZain opened #30 "Store Buttons (New Component)"

[2022-10-12 07:39] aritra-tech opened #31 "Create a Pagination"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (141)](https://user-images.githubusercontent.com/80090908/195280325-3ae600e5-4af6-49a7-8009-f6d168194f4c.png)

After building the component please raise a PR with a screen

[2022-10-12 07:49] Rajdip019 commented on #31
Awesome work on this. @aritra-tech

[2022-10-12 07:50] Rajdip019 commented on #30
Please use the issue template and make a new Issue with data. Closing this Issue for now.

[2022-10-12 07:50] #30 closed

[2022-10-12 09:02] yashsarnaik22 commented on #22
Can I do this?

[2022-10-12 09:05] yashsarnaik22 commented on #29
So when I select a component, I have to create a new issue? and then you will assign it to me?

[2022-10-12 09:28] preciousjohn opened #34 "Store buttons component"
One needs to make this component using `HTML` and `Tailwind CSS`. I would suggest using [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
<img width="1188" alt="Screen Shot 2022-10-12 at 11 20 39" src="https://user-images.githubusercontent.com/45792786/195304503-6047b917-5977-458f-9b4d-a580c9c5ab77.png">

After building

[2022-10-12 09:32] its-ayush-07 opened #35 "Create a Primary table"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![clweb#2](https://user-images.githubusercontent.com/74665996/195305922-d41c68ea-af77-4e86-a0cb-83fe10f4a615.png)

After building the component please raise a PR with a screenshot of t

[2022-10-12 09:38] Rajdip019 commented on #34
Hey, @preciousjohn all of these will be made by different different person to give everyone a chance to contribute. Please select any one of the store button to begin with.

[2022-10-12 09:38] Rajdip019 commented on #35
Sure. Go ahead an d build it. @its-ayush-07

[2022-10-12 09:39] Rajdip019 commented on #29
Yes @yashsarnaik22

[2022-10-12 09:47] rupsha014 opened #36 "Create a store button for apple"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![Market button](https://user-images.githubusercontent.com/109761128/195309468-bc21b3c6-11e4-4010-95c9-6f997f2fe315.png)

After building the component please raise a PR with a scr

[2022-10-12 09:51] preciousjohn commented on #34
Alight,
I will work on the Download on the app store button.
Do I need to create an issue for that?

[2022-10-12 09:52] rupsha014 opened #37 "Create a store button for google play"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![Market button (1)](https://user-images.githubusercontent.com/109761128/195311364-55129942-10af-45d3-9ea5-a960bb6c33b3.png)

After building the component please raise a PR with a

[2022-10-12 09:55] rupsha014 opened #39 "Create a store button for Amazon"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![Market button (2)](https://user-images.githubusercontent.com/109761128/195312150-9c6dda2e-d28d-428e-bd1e-bab6f6a08af8.png)

After building the component please raise a PR with a

[2022-10-12 09:59] Rajdip019 commented on #37
Sure go ahead. @kartikjoshi267

[2022-10-12 10:00] Rajdip019 commented on #34
We are creating the issue for these store buttons please select one and comment that you want to work. We will assign you. @preciousjohn

[2022-10-12 10:02] 1-Sanchit-1 commented on #39
can u please assign me i would like to work on this .

[2022-10-12 10:02] Rajdip019 commented on #39
Go ahead @1-Sanchit-1

[2022-10-12 10:03] Rajdip019 commented on #34
Closing this issue. @preciousjohn

[2022-10-12 10:03] #34 closed

[2022-10-12 10:05] rupsha014 opened #40 "Create a store button for windows"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![Market button (4)](https://user-images.githubusercontent.com/109761128/195314267-00448189-5b29-4603-9cb5-4585902770c2.png)

After building the component please raise a PR with a

[2022-10-12 10:14] rupsha014 opened #41 "Create a store button for apple darkmode"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![Market button (3)](https://user-images.githubusercontent.com/109761128/195316002-ceeab8fc-4692-49ff-9797-168d869042e5.png)

After building the component please raise a PR with a

[2022-10-12 10:16] rupsha014 opened #42 "Create a store button for google play darkmode"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![Market button (5)](https://user-images.githubusercontent.com/109761128/195316756-58698059-5490-46c3-9f6d-8f5c49e711d1.png)

After building the component please raise a PR with a

[2022-10-12 10:17] madmaxWMFU commented on #36
Hi! Can you assign it to me?

[2022-10-12 10:19] rupsha014 opened #43 "Create a store button for Amazon darkmode"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![Market button (6)](https://user-images.githubusercontent.com/109761128/195317306-6b095c15-c572-4d67-b6db-e74521a699a9.png)

After building the component please raise a PR with a

[2022-10-12 10:20] Rajdip019 commented on #40
Sure. @madmaxWMFU

[2022-10-12 10:21] Rajdip019 commented on #36
You are already assigned in an issue. Will be assigning you another one when it's finished. @madmaxWMFU

[2022-10-12 10:21] rupsha014 opened #44 "Create a store buttton for windows darkmode"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![Market button (7)](https://user-images.githubusercontent.com/109761128/195317887-ef24a54e-79f8-4b1d-aea3-a9f3bec352db.png)

After building the component please raise a PR with a

[2022-10-12 10:29] Anuran12 commented on #44
Hi @rupsha014 i would like to work on this. Assign this to me.

[2022-10-12 10:43] Rajdip019 commented on #37
Yes you can use font awesome CDM link and you need to create a new file as per the instructions inside the Store Button folder. @kartikjoshi267

[2022-10-12 10:44] error707-persona commented on #43
Hi I would like to work on this please assign it to me

[2022-10-12 10:44] error707-persona commented on #41
I would like to work on this, please assign it to me

[2022-10-12 10:52] error707-persona commented on #43
also, i would like to know if I just have to make the button or do I include it in some other file ?

[2022-10-12 11:26] nishit3134 opened #46 "create a more button"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![more](https://user-images.githubusercontent.com/111650900/195330772-f26ee222-07a8-4c6d-af90-b47fd013100c.png)

After building the component please raise a PR with a screenshot of the

[2022-10-12 11:27] nishit3134 commented on #46
@Rajdip019 I would like to work on this component

[2022-10-12 11:36] Rajdip019 commented on #46
Go ahead @nishit3134

[2022-10-12 11:38] Rajdip019 commented on #36
Go ahead @preciousjohn

[2022-10-12 11:38] Rajdip019 commented on #44
Go ahead work on this. @Anuran12

[2022-10-12 11:38] Hiresh23 commented on #36
i would like to work on this issue ,please assign

[2022-10-12 11:39] Rajdip019 commented on #43
Hey @error707-persona work on this. You just need to create the button file in Tailwind playground and paste the code here.

That's it.

[2022-10-12 11:40] Rajdip019 commented on #41
@error707-persona you are already assigned to an issue. @Hiresh23 work on this one.

[2022-10-12 11:40] Hiresh23 commented on #42
i would like to work on this issue ,please assign it to me

[2022-10-12 11:41] Rajdip019 commented on #42
You both are already assigned to an issue please complete them and then only you will get assigned to other issues. @error707-persona @Hiresh23

[2022-10-12 12:05] #37 closed

[2022-10-12 12:05] SubhamChoudhury commented on #20
Sure, thank you!

[2022-10-12 12:07] Rajdip019 commented on #21
This issue is solved. So closing this issue. @jsvigneshkanna

[2022-10-12 12:07] #21 closed

[2022-10-12 12:22] yashsarnaik22 opened #50 "Create a review card"
![Screenshot 2022-10-12 175106](https://user-images.githubusercontent.com/86489787/195341410-97789c38-7098-4ba3-b8fc-01cb5471fa0d.png)
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

After building the component

[2022-10-12 12:23] yashsarnaik22 commented on #50
@Rajdip019 can I create this component?

[2022-10-12 12:27] error707-persona commented on #43
ok

[2022-10-12 12:32] deek121477 commented on #50
Can I work on this issue?

[2022-10-12 12:37] error707-persona commented on #42
I completed the one previously assigned to me please if its I will work on this one too

[2022-10-12 13:05] abhijain2003 opened #55 "Create a Carousel using html and css(tailwind css)"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](![Screenshot 2022-10-12 183832](https://user-images.githubusercontent.com/91718608/195350468-c18730d0-4bc3-4a64-a061-aa6e5d5bbdeb.png)) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

After building the component please raise a PR with a scre

[2022-10-12 13:12] jsvigneshkanna commented on #42
@Rajdip019 , I completed my last PR, please assign me this task

[2022-10-12 13:47] Rajdip019 commented on #50
Sure go ahead @yashsarnaik22

[2022-10-12 13:48] Rajdip019 commented on #50
This will go inside `Testimonials/basic-testimonial-card.html` @yashsarnaik22

[2022-10-12 13:50] Rajdip019 commented on #55
The testimonial is in the Figma File right? @abhijain2003

[2022-10-12 13:51] Rajdip019 commented on #42
Work on it. @error707-persona

[2022-10-12 13:56] rahulkarda opened #57 "Create a Feedback Form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![feedback](https://user-images.githubusercontent.com/76204863/195362204-b38d6e7c-9042-486f-93c3-cea977aea864.png)

After building the component please raise a PR with a screenshot of

[2022-10-12 13:59] syprogrammer commented on #57
can I take this task

[2022-10-12 14:07] rahulkarda commented on #57
I'm already working on this issue.

[2022-10-12 14:17] Rancho2002 opened #58 "Create a Book appoinment component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/92109154/195367632-e3d11477-6a74-416f-83d1-35c29a24915b.png)

After building the component please raise a PR with a screenshot of the

[2022-10-12 14:29] divyamojas commented on #58
Hey @Rancho2002 Please assign me this issue. I would like to work on it.

[2022-10-12 14:44] yashsarnaik22 commented on #50
okay sorry, i put it Cards folder.
Should I push a new PR through testimonials?

[2022-10-12 16:24] rupsha014 commented on #58
please go ahead @divyamojas

[2022-10-12 16:25] Rancho2002 commented on #58
I ask for it?

[2022-10-12 16:26] Rancho2002 commented on #58
I opened the issue. Why it is assigned to someone else @rupsha014 ?

[2022-10-12 16:38] rupsha014 commented on #58
sry for miscommunication......@Rancho2002 please go ahead

[2022-10-12 16:39] Rancho2002 commented on #58
No problem, I am already working on it.

[2022-10-12 17:10] Ruchita1010 opened #65 "Create a bell notification"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (279)](https://user-images.githubusercontent.com/70577616/195405353-afb6c087-53ce-44a6-9fcf-b69bab8792cc.png)

After building the component please raise a PR with a screen

[2022-10-12 17:10] Ruchita1010 commented on #65
I would like to work on this issue!

[2022-10-12 17:37] abhijain2003 commented on #55
ya but this is just a template, as this repo is web UI kit component, i am trying to develop a carousel using HTML and tailwind CSS

can you assign it to me

[2022-10-12 18:30] yugalibalbudhe commented on #22
Hey @Rajdip019 can you see my PR now?

[2022-10-12 19:25] #6 closed

[2022-10-12 19:26] #35 closed

[2022-10-12 19:32] #31 closed

[2022-10-12 19:41] aritra-tech opened #70 "Create a Content Card"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (147)](https://user-images.githubusercontent.com/80090908/195433176-f181f075-ad99-4031-9312-22e8d2d1ede1.png)

After building the component please raise a PR with a screen

[2022-10-12 19:48] aritra-tech opened #71 "Create a Testimonial"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/80090908/195434262-452942c6-8e69-4046-9959-f5adda59f179.png)

After building the component please raise a PR with a screenshot of the

[2022-10-12 19:53] rupsha014 commented on #65
please go ahead @Ruchita1010

[2022-10-12 19:55] madmaxWMFU commented on #71
Hi! Can you assign it to me?

[2022-10-12 19:56] rupsha014 commented on #71
you have already been assingned an issue.....please solve it first @aritra-tech

[2022-10-12 19:56] rupsha014 commented on #71
go ahead @madmaxWMFU

[2022-10-12 19:57] rupsha014 commented on #55
go ahead @abhijain2003

[2022-10-12 20:00] rupsha014 commented on #10
this issue is resolved.

[2022-10-12 20:00] #10 closed

[2022-10-12 20:01] aritra-tech commented on #71
Ok ok

[2022-10-12 20:01] rupsha014 commented on #42
this issue is resolved

[2022-10-12 20:01] #42 closed

[2022-10-12 20:01] #43 closed

[2022-10-12 20:02] rupsha014 commented on #8
issue is resolved

[2022-10-12 20:02] #8 closed

[2022-10-12 20:03] rupsha014 commented on #46
issue is resolved

[2022-10-12 20:03] #46 closed

[2022-10-12 20:04] #23 closed

[2022-10-12 20:05] rupsha014 commented on #13
issue is resolved

[2022-10-12 20:05] #13 closed

[2022-10-12 20:06] Rajdip019 commented on #22
Please check the comments @yashsarnaik22 of your PR.

[2022-10-12 20:08] rupsha014 commented on #40
issue resolved

[2022-10-12 20:08] #40 closed

[2022-10-12 20:08] Rajdip019 commented on #50
See the comment in your PR @yashsarnaik22

[2022-10-12 20:41] #58 closed

[2022-10-13 02:10] rahulkarda opened #74 "Create a Footer with Copyright & social media handles"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

![footer-clueless](https://user-images.githubusercontent.com/76204863/195501869-d45a83c4-9482-4a08-ab6c-032c06a600fe.png)

After building the component please raise a PR with a screen

[2022-10-13 02:40] abhijain2003 commented on #55
thanks

[2022-10-13 03:07] nishit3134 opened #75 "Create a content writer content card"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![contentwriter](https://user-images.githubusercontent.com/111650900/195489791-9d2a0d52-2cd8-469b-b97d-d9e48fbf291f.png)

After building the component please raise a PR with a screensh

[2022-10-13 03:08] nishit3134 commented on #75
@Rajdip019 I would like to work on this issue

[2022-10-13 03:08] jsvigneshkanna commented on #74
Please assign me this issue, will raise a pr

[2022-10-13 03:24] Rajdip019 commented on #74
Hey this is not in the figma file, I guess please choose a component from the figma file.

[2022-10-13 03:24] Rajdip019 commented on #75
Go ahead @nishit3134

[2022-10-13 03:45] kaustav202 opened #76 "Add a Feature request template<Name>"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here
NA

After building the component please raise a PR with a screenshot of the component and add the component in `path of the file`.

If you need to use any icon plea

[2022-10-13 03:46] kaustav202 commented on #76
Can I work on this @Rajdip019

[2022-10-13 04:00] Rajdip019 commented on #76
Please add an screenshot from the Figma file of the component. Otherwise how do I know what you want to build? @kaustav202

[2022-10-13 04:04] kaustav202 commented on #76
I guess you missed the issue title.. it's a Feature Request Template that I want to add to issue Templates.. not build a component

[2022-10-13 04:30] rahulkarda commented on #74
Updated the footer image, check if this works @Rajdip019

[2022-10-13 06:02] AKACHI-4 opened #81 "Create a Subscription card"
Hey,
I would like to create a subscription box using HTML and Tailwind CSS

### Images
![issue1 (1)](https://user-images.githubusercontent.com/99159580/195624665-38214b21-6acc-483e-b996-de1e78324fc6.jpg)

Plz review this and assign it to me under hacktober'22

[2022-10-13 07:22] 123shanawaz opened #84 "created fb login page"
hay @Rajdip019 I would like to add an FB login page to the newly created a folder so can you assign me under a hactoberfest

[2022-10-13 07:24] rahulkarda commented on #57
@Rajdip019 you forgot to close this issue, PR has already been merged.

[2022-10-13 07:27] gokul1099 opened #85 "Create a Product Card Component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
<img width="678" alt="image" src="https://user-images.githubusercontent.com/42144106/195633881-28521ed6-607d-4d3d-8fef-00e26598a7c1.png">

After building the component please raise a P

[2022-10-13 07:28] gokul1099 commented on #85
@Rajdip019  I would like to work on this.

[2022-10-13 07:29] SohanaShabnam05 commented on #74
Please , assign me this issue

[2022-10-13 07:30] SohanaShabnam05 commented on #84
I want to work on this issue.

[2022-10-13 07:35] #84 closed

[2022-10-13 07:39] SohanaShabnam05 commented on #85
please, assign me this issue.

[2022-10-13 07:40] 123shanawaz opened #86 "created a fb login page"
hey @Rajdip019, I want to add FB login page using tailwind and HTML to a newly created folder can you assign me under a hactoberfest label???

![demo](https://user-images.githubusercontent.com/91983494/195532774-ed22f058-0cbb-4ae2-9105-bc877cfa66fe.jpeg)

[2022-10-13 09:11] aritra-tech opened #90 "Create a Testimonial"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/80090908/195555018-ec26311a-acc0-4ccb-848e-4aefd519b1fc.png)

After building the component please raise a PR with a screenshot of the

[2022-10-13 09:13] aritra-tech commented on #75
@Rajdip019 I was doing the same thing i.e Issue No #70 and I have created a PR as well so it will create a conflict I guess.
Please look at this.

[2022-10-13 09:18] Anuran12 commented on #44
@Rajdip019

![image](https://user-images.githubusercontent.com/104062485/195556825-d4dcd0a3-5260-40e3-8595-f7aed5f08888.png)

Is it looking good ?

[2022-10-13 11:42] Ezekiel8807 commented on #90
Please assign these to me

[2022-10-13 12:54] nishit3134 commented on #75
@Rajdip019  please solve it out and close this issue. I will work on something else.

[2022-10-13 12:58] nishit3134 opened #94 "Create a product card floating phone"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/111650900/195602491-05842675-f30e-41b8-8716-22611e7ef5bc.png)

After building the component please raise a PR with a screenshot of th

[2022-10-13 12:59] amitroy-thedev commented on #94
@nishit3134 can you assign this to me

[2022-10-13 13:03] nishit3134 commented on #94
@amitroy-thedev I myself want to work on this issue

[2022-10-13 13:04] nishit3134 commented on #94
@Rajdip019  please assign me this issue

[2022-10-13 13:06] amitroy-thedev commented on #94
@nishit3134 oh okay..
Will you please guide how can i myself create an issue with hacktoberfest label

[2022-10-13 13:11] nishit3134 commented on #94
Checkout figma file in Contributing.md and select a component on which no one is working.
Click on new issue, add screenshot of component you want  to build and click create.
Then ask maintainer to assign you that issue.

[2022-10-13 13:41] Rajdip019 commented on #81
Hey, please select a component from this [Figma File](https://www.figma.com/file/0eqV7t3UKKM14UeqCSfOZb/Essential-UI---Figma-Ui-Kit-(Community)?node-id=688%3A1988)

[2022-10-13 13:42] Rajdip019 commented on #94
Go ahead @nishit3134

[2022-10-13 13:43] Rajdip019 commented on #90
Hey @aritra-tech are you working on it? I can see a PR linked to it.

[2022-10-13 13:44] #86 closed

[2022-10-13 13:44] Rajdip019 commented on #85
Hey @gokul1099 please elect only one card you want to build.

[2022-10-13 13:47] Rajdip019 commented on #74
Will review your PR. @rahulkarda

[2022-10-13 13:48] aritra-tech commented on #90
Not started yet @Rajdip019.
If it is done then I can work on other components.

[2022-10-13 13:49] Rajdip019 commented on #39
Good job @1-Sanchit-1

Congrats 🎉, your PR got merged. To be eligible for the swags from ClueLess. Follow this steps.

1. Star this repository. ⭐
2. SignIn / SignUp in [[ClueLess Website](https://www.clueless.tech/)](https://www.clueless.tech/) .
3. Go to profile section from the top right hand corner.

    ![https://s3.us-west-2.amazonaws.com/secure.notion-static.com/74339abf-adaf-4b25-8496-7642f

[2022-10-13 13:50] #39 closed

[2022-10-13 13:50] aritra-tech commented on #29
@Rajdip019 you can do one thing, which components are done or someone is doing that one so you can mark them as complete it will be easy for the users to see which are done and which are not.

[2022-10-13 13:55] #44 closed

[2022-10-13 13:58] error707-persona opened #95 "Create a DropDown button"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here
![image](https://user-images.githubusercontent.com/53540032/195617241-ee16b208-fe89-4732-a2e6-ca66db00a5cf.png)

After building the component please raise a PR with

[2022-10-13 13:58] AKACHI-4 commented on #81
![issue1](https://user-images.githubusercontent.com/99159580/195617285-58b2b795-7371-4a11-948a-44cc18b14706.png)

[2022-10-13 14:02] Ezekiel8807 commented on #90
Then what is the merged PR #92 for?

[2022-10-13 14:04] #65 closed

[2022-10-13 14:07] AKACHI-4 commented on #95
I would like to work on this issue plz assign it to me

[2022-10-13 14:08] error707-persona commented on #95
@AKACHI-4 I'm already working on it you can choose some other component

[2022-10-13 14:13] Rajdip019 commented on #90
Yeah please work on another component. That will be better. @aritra-tech

[2022-10-13 14:13] #90 closed

[2022-10-13 14:14] Rajdip019 commented on #81
Yeah go ahead and change the picture in the Issue as well as the name of the Issue. @AKACHI-4

[2022-10-13 14:15] Rajdip019 commented on #70
This issue is solved so closing this.

[2022-10-13 14:15] #70 closed

[2022-10-13 14:15] Rajdip019 commented on #57
Yeah closing this issue.

[2022-10-13 14:15] #57 closed

[2022-10-13 14:16] Rajdip019 commented on #7
Hey @Soumya-Kushwaha are you working on it?

[2022-10-13 14:18] #95 closed

[2022-10-13 14:21] AKACHI-4 commented on #81
Yah ok!!

[2022-10-13 14:25] gokul1099 commented on #85
ok @Rajdip019  I will take the first one.

[2022-10-13 14:37] Ezekiel8807 commented on #81
Please assign it to me if it's still available

[2022-10-13 14:39] Soumya-Kushwaha commented on #7
I tried to search a lot. But does this require NOT AUTOMATIC addition of contributors profile to readme?
Because for automatic addition, I could only find regarding adding contributors section which puts their profile picture tha IS NOT linked to their profiles.
Kindly help me out.

[2022-10-13 14:41] error707-persona opened #97 "Create a Settings Button"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest using [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/53540032/195626753-5c117d95-45de-4810-afa1-5a20ce2385ea.png)

After building the component please raise a PR with a screenshot of the

[2022-10-13 14:41] Rajdip019 commented on #85
Sure please change the picture of this issue. @gokul1099

[2022-10-13 14:44] Rajdip019 commented on #97
Go ahead. @error707-persona

[2022-10-13 14:45] Rajdip019 commented on #7
That will work. The automated one. You can put that in. @Soumya-Kushwaha

[2022-10-13 14:55] abhijain2003 opened #99 "Create a mobile filter marketplace"
![Screenshot 2022-10-13 202718](https://user-images.githubusercontent.com/91718608/195631862-b9e7eae9-2c6c-4173-8227-01517c15ab4c.png)
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

After building the component

[2022-10-13 14:55] AKACHI-4 commented on #81
hello @Ezekiel8807, I am already working on it plz work on some other issues.

[2022-10-13 14:57] Rajdip019 commented on #99
Choose one of the component @abhijain2003

[2022-10-13 14:58] #97 closed

[2022-10-13 14:59] abhijain2003 commented on #99
ok, for top one
![Screenshot 2022-10-13 202718](https://user-images.githubusercontent.com/91718608/195632884-1f4acc1e-17db-4015-8c1c-f82f2f9b2095.png)

[2022-10-13 15:01] Rajdip019 commented on #99
`Filter/mobile/marketplace-1.html`. @abhijain2003

[2022-10-13 15:01] abhijain2003 commented on #99
ok assigned it to me please

[2022-10-13 15:09] Rajdip019 commented on #55
Will you work on this or should I close this issue? @abhijain2003

[2022-10-13 17:12] rahulkarda opened #105 "Create a Pricing Component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![pricing-style-1](https://user-images.githubusercontent.com/76204863/195662179-ff266c35-5614-4605-9975-956e1c0f9bdf.png)

After building the component please raise a PR with a screens

[2022-10-13 17:32] infuman69 commented on #105
Can I work on this issue ?

[2022-10-13 17:58] infuman69 opened #107 "Create a Subscribe Newsletter"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![image](https://user-images.githubusercontent.com/81096719/195670530-c3d78ea8-c88f-4b10-bce5-399a3d9e6e06.png)

After building the component please raise a PR with a screenshot o

[2022-10-13 17:59] infuman69 commented on #107
Can I work on this Issue ?

[2022-10-13 18:11] ThisisMS11 commented on #107
I have recently done a lot of work using the same tech ,so can you please assign this one to me?

[2022-10-13 18:24] ThisisMS11 commented on #105
Can you assign this one to me ? I have the necessary experience for this issue.

[2022-10-13 18:39] #7 closed

[2022-10-13 18:49] Rajdip019 commented on #107
Go ahead @infuman69 . Here is first come first serve sorry @ThisisMS11

[2022-10-13 18:49] Rajdip019 commented on #105
This issue is solved so closing this issue. @rahulkarda

[2022-10-13 18:49] #105 closed

[2022-10-13 18:50] Rajdip019 commented on #71
This Issue is resolved, so closing this issue.

[2022-10-13 18:50] #71 closed

[2022-10-13 18:51] Rajdip019 commented on #74
Closing this issue as it is resolved.

[2022-10-13 18:51] #74 closed

[2022-10-13 18:51] Rajdip019 commented on #12
Closing this issue as it is solved. @aabhas-sao

[2022-10-13 18:51] #12 closed

[2022-10-13 18:52] infuman69 commented on #107
thanks : )

[2022-10-13 19:04] Rajdip019 opened #110 "Create a Simple features card small"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![card-item-4](https://user-images.githubusercontent.com/91758830/195685392-aa5c9156-adc8-4e38-a4f4-92017c0fc830.png)

After building the component please raise a PR with a screenshot

[2022-10-13 19:05] rupsha014 opened #111 "Create a job security card-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![card-item-5](https://user-images.githubusercontent.com/109761128/195685385-5f4f3eed-10ac-4bd5-bc4c-ec22db31a163.png)

After building the component please raise a PR with a scree

[2022-10-13 19:07] Rajdip019 opened #112 "Create a feature card with image"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![card-item-7](https://user-images.githubusercontent.com/91758830/195686280-d39737fa-3197-488c-8c8d-2341bc3d8640.png)

After building the component please raise a PR with a screenshot

[2022-10-13 19:08] rupsha014 opened #113 "Create a feature card(small outlined)"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![card-item-2](https://user-images.githubusercontent.com/109761128/195687050-3b6df3c8-89da-4318-8bb7-cc303e741671.png)

After building the component please raise a PR with a scree

[2022-10-13 19:09] Rajdip019 opened #114 "Create a Features card medium filled"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![card-item-8](https://user-images.githubusercontent.com/91758830/195687438-5172eea1-6d78-4755-bea2-bfc79bc4687d.png)

After building the component please raise a PR with a screenshot

[2022-10-13 19:10] Rajdip019 opened #115 "Create a Feature Card medium outlined with button"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![card-item-10](https://user-images.githubusercontent.com/91758830/195688064-820baeaf-c277-4be9-9962-b4e78956c78d.png)

After building the component please raise a PR with a screenshot

[2022-10-13 19:11] rupsha014 opened #116 "Create a feature card (big outlined)"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![card-item-11](https://user-images.githubusercontent.com/109761128/195688085-7ca284d6-3e36-461c-895f-0a85b3235001.png)

After building the component please raise a PR with a scre

[2022-10-13 19:12] Rajdip019 opened #117 "Create a Feature Card large outlined with button"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![card-item-13](https://user-images.githubusercontent.com/91758830/195688587-b8a79cf7-3811-44e4-918b-217f42b408e3.png)

After building the component please raise a PR with a screenshot

[2022-10-13 19:13] rupsha014 opened #118 "Create a appointment card"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![card-item-12](https://user-images.githubusercontent.com/109761128/195688861-67007e18-51bb-4473-9a7f-766b6e46322c.png)

After building the component please raise a PR with a scre

[2022-10-13 19:15] Rajdip019 opened #119 "Create a Feature Card Stats percent"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![card-item-14](https://user-images.githubusercontent.com/91758830/195688926-3102c0e1-a2c2-4291-ac24-f285e2d0c545.png)

After building the component please raise a PR with a screenshot

[2022-10-13 19:17] Rajdip019 opened #120 "Create a Simple features card small v2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![card-item-15](https://user-images.githubusercontent.com/91758830/195689525-777fc666-4898-4aef-a39c-2afd7a675a41.png)

After building the component please raise a PR with a screenshot

[2022-10-13 19:17] rupsha014 opened #121 "Create a job security card-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![card-item-16](https://user-images.githubusercontent.com/109761128/195689607-10571851-b328-4075-b618-3eb591c547da.png)

After building the component please raise a PR with a scre

[2022-10-13 19:18] nishilpjpt commented on #118
@rupsha014 I would like to  try out this can you assign me ?

[2022-10-13 19:18] Rajdip019 commented on #118
Go ahead @nishilpjpt

[2022-10-13 19:21] Anadee11 commented on #120
I just need to create a small card with the icon and the text with Tailwind and HTML right?
If yes, could you please assign this to me!

[2022-10-13 19:23] rupsha014 opened #124 "Create a feature card(medium outlined)"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![card-item-9](https://user-images.githubusercontent.com/109761128/195690819-9d702950-d603-4d6a-b982-4e22ce3ff792.png)

After building the component please raise a PR with a scree

[2022-10-13 19:24] Rajdip019 commented on #120
Yes. Go ahead build it. @Anadee11

[2022-10-13 19:26] rupsha014 opened #125 "Create a job security card(filled)"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![card-item-6](https://user-images.githubusercontent.com/109761128/195691397-30488ae3-ecb9-40b0-8fb8-f875dacf44ed.png)

After building the component please raise a PR with a scree

[2022-10-13 19:31] hritikbhattacharya commented on #50
@Rajdip019 you just have have closed my PR regarding this issue

[2022-10-13 19:33] hritikbhattacharya commented on #50
assign this issue to me i have already created this card, and apart from that , i have almost created all the UI templates given in figma file for (feature cards) but all my PRs are rejected why ?

[2022-10-13 19:37] Rajdip019 commented on #50
This is assigned to @yashsarnaik22 then why are you raising a PR against it? @hritikbhattacharya

[2022-10-13 19:38] aritra-tech commented on #125
Can I work on this issue @rupsha014

[2022-10-13 19:39] hritikbhattacharya commented on #50
but in last comment it was written one can try to make. that's why i thought it was open

[2022-10-13 19:39] hritikbhattacharya commented on #50
but apart from any issue can i contribute?

[2022-10-13 19:40] rupsha014 commented on #125
go ahead @aritra-tech

[2022-10-13 19:47] Rajdip019 commented on #112
Yess @hritikbhattacharya

[2022-10-13 19:49] #120 closed

[2022-10-13 20:05] hritikbhattacharya commented on #112
@Rajdip019 I have submitted the PR regarding this issue

[2022-10-13 20:07] jesulonimii commented on #121
I would like to wotk on this

[2022-10-13 20:07] hritikbhattacharya commented on #111
@rupsha014 assign it to me..

[2022-10-13 20:08] hritikbhattacharya commented on #113
@rupsha014 assign it to me

[2022-10-13 20:10] devjain2309 commented on #114
please assign me this

[2022-10-13 20:11] devjain2309 commented on #115
Can I do This

[2022-10-13 20:12] jesulonimii commented on #110
Please i want to work on this

[2022-10-13 20:12] devjain2309 commented on #124
assign me, i'll try it

[2022-10-13 20:13] Rajdip019 commented on #124
Go ahead @devjain2309

[2022-10-13 20:13] Rajdip019 commented on #121
Go ahead @jesulonimii

[2022-10-13 20:14] Rajdip019 commented on #115
You are already assigned to an issue finish that  one first. @devjain2309

[2022-10-13 20:14] Rajdip019 commented on #114
You have already been assigned to an issue. @devjain2309

[2022-10-13 20:14] Rajdip019 commented on #113
You are already assigned to an issue. @hritikbhattacharya

[2022-10-13 20:15] Rajdip019 commented on #110
You are already assigned in an issue. @jesulonimii

[2022-10-13 20:32] jesulonimii commented on #119
Please let me work on this

[2022-10-13 20:34] jesulonimii commented on #110
I have completed that issue

[2022-10-13 21:27] devjain2309 commented on #114
It's completed now. You can assign me this.

[2022-10-13 23:56] pattimcletchie commented on #116
Can I work on this issue?

[2022-10-13 23:58] pikameow420 commented on #110
I'd like to work on this issue

[2022-10-14 01:39] Upasana-Roy commented on #113
Can you please assign it to me

[2022-10-14 02:35] nishit3134 opened #134 "Create a table for dark mode"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/111650900/195749021-4fdfcfee-0828-42c6-8b04-e2553b6ed210.png)

After building the component please raise a PR with a screenshot of th

[2022-10-14 02:35] nishit3134 commented on #134
@Rajdip019 please assign me this issue

[2022-10-14 04:16] Rajdip019 commented on #134
Go ahead build it. @nishit3134

[2022-10-14 04:18] #121 closed

[2022-10-14 04:18] Rajdip019 commented on #119
Go ahead @jesulonimii

[2022-10-14 04:18] MadhurKharche commented on #125
I wish to contribute to this issue. Please assign this issue to me @rupsha014

[2022-10-14 04:18] Rajdip019 commented on #110
Go ahead @pikameow420 and @jesulonimii I have assigned you another issue.

[2022-10-14 04:19] Rajdip019 commented on #114
Sure @devjain2309

[2022-10-14 04:21] Rajdip019 commented on #114
But first check the comment on the previous PR.

[2022-10-14 04:52] tauleshwar commented on #116
If it's still open, i would like to work on this because I love Tailwind

[2022-10-14 04:53] tauleshwar commented on #115
Let me work on this one .

[2022-10-14 05:03] aritra-tech commented on #125
Ok @MadhurKharche you continue with this issue I will do the other issues.
@rupsha014 please assign it to @MadhurKharche

[2022-10-14 05:06] devjain2309 commented on #114
@Rajdip019 please check my previous PR and if you found it right then assign me this.

[2022-10-14 05:20] udoyhasan commented on #116
@rupsha014 can I work on this issue? I've already submitted and pull request for this component in #135.

[2022-10-14 05:23] DarkSoul26 commented on #111
Hi @rupsha014 I would like to work on this issue.

[2022-10-14 05:23] DarkSoul26 commented on #125
Hi @rupsha014 I would like to work on this issue

[2022-10-14 05:45] abhijain2003 opened #136 "Create a desktop filter component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Hey I wanted to contribute more to this repo kindly assign this to me
Here is a reference to the component.
#### Add image here
![Screenshot 2022-10-14 111801](https://user-images.githubusercontent.com/91718608/195771304-b

[2022-10-14 05:46] Rajdip019 commented on #136
Choose one @abhijain2003

[2022-10-14 05:47] Rajdip019 commented on #115
Sure @tauleshwar

[2022-10-14 05:47] Rajdip019 commented on #113
Go ahead @Upasana-Roy

[2022-10-14 05:50] Rajdip019 commented on #116
Okay assigning you until the PR is reviewed. @udoyhasan

[2022-10-14 05:52] tauleshwar commented on #116
It ok bro go ahead

[2022-10-14 06:00] udoyhasan commented on #116
@tauleshwar thank you 😊

[2022-10-14 06:04] abhijain2003 commented on #136
is this not one, ok then I would like to go with accessories

[2022-10-14 06:05] hritikbhattacharya commented on #117
thank you for assigning this to me

[2022-10-14 06:06] rahulkarda opened #137 "Create a Contact Us component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![contactus](https://user-images.githubusercontent.com/76204863/195774091-87550f8e-a639-49cf-bcb0-99d6782cc3dd.png)

After building the component please raise a PR with a screenshot of

[2022-10-14 06:09] bharat24835 commented on #137
Can I contribute without using Tailwind CSS, using Simple CSS

[2022-10-14 06:24] rahulkarda opened #139 "Create input components"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![inputs](https://user-images.githubusercontent.com/76204863/195776858-36fd1ed7-150d-4b38-ab0a-8d185dc5ddde.png)

After building the component please raise a PR with a screenshot of th

[2022-10-14 06:26] jsvigneshkanna commented on #139
Please assign me this issue

[2022-10-14 06:36] rahulkarda commented on #139
I'm already working on it.

[2022-10-14 12:20] Hiresh23 commented on #41
i have added the button check please

[2022-10-14 13:53] #94 closed

[2022-10-14 14:01] Rajdip019 commented on #136
Ok go with it and update the image @abhijain2003

[2022-10-14 14:02] abhijain2003 commented on #136
sure

[2022-10-14 14:14] udoyhasan commented on #111
@rupsha014 please assign me. I'd like to work on this issue.

[2022-10-14 14:18] rupsha014 commented on #137
go ahead @rahulkarda

[2022-10-14 14:21] pikameow420 commented on #110
Created a PR
Please accept and merge if its satisfactory.
Thank you.

[2022-10-14 14:22] rupsha014 commented on #137
no..... you have to use tailwind CSS to contribute in this repository

[2022-10-14 14:23] rupsha014 commented on #139
you have already been assingned a issue .....please complete that first

[2022-10-14 14:24] rupsha014 commented on #139
go ahead @jsvigneshkanna

[2022-10-14 14:26] rahulkarda commented on #137
Done. I've created a PR.

[2022-10-14 14:27] rahulkarda commented on #139
I already completed my previous issue. Reassign this issue to me please.

[2022-10-14 15:02] AbirSantra opened #150 "Create a Pricing Card (Style-3)"
Hi, I would like to build this component under Hacktoberfest

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78201921/195878795-aa5a89fc-3638-45df-be61-510e46f34339.png)

Kindly assign me this issue if approved.
Thank you,
Abir

[2022-10-14 15:06] Anuran12 commented on #150
@AbirSantra  I would like to work on this

[2022-10-14 16:07] Rajdip019 commented on #139
Hey, @rahulkarda sorry but this component is not there in the Figma file right? @rahulkarda

[2022-10-14 16:19] Prosecutor1x opened #152 "Create a Navigation Bar"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

![navbar-style-1 (1)](https://user-images.githubusercontent.com/100259871/195893800-c9601f25-08a6-43b9-9131-416b25654ee6.png)

After building the component please raise a PR with a sc

[2022-10-14 16:20] Rajdip019 commented on #152
Go ahead @Prosecutor1x

[2022-10-14 16:24] Rajdip019 commented on #150
Hey @AbirSantra  work on this.

[2022-10-14 16:25] Rajdip019 commented on #50
Is this issue resolved? @yashsarnaik22

[2022-10-14 16:27] #152 closed

[2022-10-14 16:29] #110 closed

[2022-10-14 16:29] Rajdip019 commented on #55
Hey @abhijain2003 ?

[2022-10-14 16:30] Rajdip019 commented on #107
Closing this issue as it is solved.

[2022-10-14 16:30] #107 closed

[2022-10-14 16:31] rahulkarda commented on #139
There were individual input boxes here and there in the figma file, I compiled all of them into one.

[2022-10-14 16:37] Rajdip019 commented on #139
The style is not same and we need them in different files as well. So closing this issue right now. You can make a new issue with one input field at a time @rahulkarda

[2022-10-14 16:37] #139 closed

[2022-10-14 16:37] Rajdip019 commented on #111
Go ahead @DarkSoul26

[2022-10-14 16:43] Prosecutor1x opened #154 "Create a Navigation Bar V2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar-style-3](https://user-images.githubusercontent.com/100259871/195898566-992dc9e3-d15d-4935-89c8-1c066b396132.png)

After building the component please raise a PR with a screens

[2022-10-14 16:44] jsvigneshkanna commented on #154
@Prosecutor1x , please assign me this issue

[2022-10-14 16:44] #119 closed

[2022-10-14 16:55] rahulkarda commented on #139
Got it!

On Fri, 14 Oct, 2022, 10:07 pm Rajdeep Sengupta, ***@***.***>
wrote:

[2022-10-14 17:22] abhijain2003 commented on #55
nope this is not in figma file

[2022-10-14 17:25] abhijain2003 commented on #136
just wanted to confirm is the location of this component will be Filter/Desktop/marketplace.html

[2022-10-14 18:13] #154 closed

[2022-10-14 18:14] Rajdip019 commented on #136
`marketplace-1.html` @abhijain2003

[2022-10-14 18:14] Rajdip019 commented on #55
Closing this PR.

[2022-10-14 18:14] #55 closed

[2022-10-14 18:19] #4 closed

[2022-10-14 18:24] MadhurKharche commented on #125
I have added the PR for this issue
![Screenshot (2861)](https://user-images.githubusercontent.com/78757405/195915306-9701c309-0aff-4412-b457-754a35bc4902.png)

[2022-10-14 18:25] abhijain2003 commented on #136
sure

[2022-10-14 18:27] rupsha014 commented on #14
@Gunika2002 ...Are you still working on this?otherwise i will assign someone else.

[2022-10-14 18:29] Rajdip019 commented on #22
Your PR needs change. do that or I will assign this to some one else. @yashsarnaik22

[2022-10-14 18:30] #36 closed

[2022-10-14 18:30] #41 closed

[2022-10-14 18:30] #50 closed

[2022-10-14 18:35] #117 closed

[2022-10-14 18:37] #125 closed

[2022-10-14 18:38] #118 closed

[2022-10-14 18:49] rupsha014 opened #160 "Create a testimonials v1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![testimonials-card-item-2](https://user-images.githubusercontent.com/109761128/195919464-6c7299ea-afd9-4286-9722-c8ce0abe0ef1.png)

After building the component please raise a PR

[2022-10-14 18:49] Rajdip019 opened #161 "Create Testimonial V-5"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![testimonials-card-item-1](https://user-images.githubusercontent.com/91758830/195919434-036dbfa5-01d8-48af-87ca-8ba8fa5bbca7.png)

After building the component please raise a PR with

[2022-10-14 18:50] MadhurKharche commented on #124
I would like to work on this issue. Please assign me this issue.

[2022-10-14 18:50] Rajdip019 opened #162 "Create Testimonial V6"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![testimonials-card-item-5](https://user-images.githubusercontent.com/91758830/195919733-7c2c8670-c941-4984-a1a2-978bd1ba0a8b.png)

After building the component please raise a PR with

[2022-10-14 18:50] jsvigneshkanna commented on #160
Assign me this issue @rupsha014

[2022-10-14 18:51] Rajdip019 opened #163 "Create Testimonial V7"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![testimonials-card-item-6](https://user-images.githubusercontent.com/91758830/195919862-836bacd4-d8d3-4fd4-9af9-0ec6b74ff16a.png)

After building the component please raise a PR with

[2022-10-14 18:51] jsvigneshkanna commented on #162
Assign me this @Rajdip019

[2022-10-14 18:52] MadhurKharche commented on #115
I would like to work on this issue. Allow me to contribute to this issue

[2022-10-14 18:52] Rajdip019 opened #164 "Create Testimonial V8"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![testimonials-card-item-9](https://user-images.githubusercontent.com/91758830/195919976-97b906d2-0372-4847-affd-f862ded0dc52.png)

After building the component please raise a PR with

[2022-10-14 18:52] rupsha014 opened #165 "Create a testimonial v2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![testimonials-card-item-3](https://user-images.githubusercontent.com/109761128/195920035-288812c3-48b2-4fa8-a86d-bba2781cece0.png)

After building the component please raise a PR

[2022-10-14 18:53] Rajdip019 commented on #162
Go ahead @jsvigneshkanna

[2022-10-14 18:53] Rajdip019 commented on #160
You are already assigned in an issue. @jsvigneshkanna . Please finish that first.

[2022-10-14 18:54] rupsha014 opened #166 "Create a testimonials v3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![testimonials-card-item-4](https://user-images.githubusercontent.com/109761128/195920287-1dc526d3-ba1d-461d-9ddb-7730c2852ad2.png)

After building the component please raise a PR

[2022-10-14 18:55] amardeep911 commented on #166
Plz assign this to me

[2022-10-14 18:56] amardeep911 commented on #165
Plz assign this to me

[2022-10-14 18:56] amardeep911 commented on #163
Plz assign this to me

[2022-10-14 18:56] MadhurKharche commented on #165
Please assign me this issue

[2022-10-14 18:56] #124 closed

[2022-10-14 18:57] Rajdip019 commented on #163
Sure go ahead @amardeep911

[2022-10-14 18:58] rupsha014 opened #167 "Create a testimonial v4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![testimonials-card-item-8](https://user-images.githubusercontent.com/109761128/195920802-0d5ae151-6ff0-4d7b-b389-08844ab50838.png)

After building the component please raise a PR

[2022-10-14 18:58] rupsha014 commented on #166
@amardeep911 ....go ahead

[2022-10-14 18:59] Rajdip019 commented on #165
You are already assigned in a issue @amardeep911 go ahead @amardeep911

[2022-10-14 19:11] 443781544 commented on #167
please assign me this

[2022-10-14 19:15] Prosecutor1x commented on #164
@Rajdip019 can you pls assign this one to me?

[2022-10-14 19:18] Rajdip019 commented on #164
Done

[2022-10-14 19:18] Rajdip019 commented on #167
Go ahead @443781544

[2022-10-14 19:21] hritikbhattacharya commented on #161
@Rajdip019 can you assign this to me?

[2022-10-14 19:24] Rajdip019 commented on #161
@hritikbhattacharya go ahead.

[2022-10-14 19:24] hritikbhattacharya commented on #161
sure @Rajdip019
Thank you

[2022-10-14 20:02] #161 closed

[2022-10-14 20:21] #164 closed

[2022-10-14 20:26] aritra-tech commented on #160
Can I work on this @rupsha014

[2022-10-14 20:30] Vannent commented on #160
Hi, I've created the template. Would this be good?
![image](https://user-images.githubusercontent.com/98601749/195938177-1b54bfcd-5310-4d81-b366-34f620210800.png)

[2022-10-14 20:33] Hiresh23 commented on #160
i would like to contribute

[2022-10-14 20:33] Hiresh23 commented on #160
please assign

[2022-10-14 20:35] Vannent opened #171 "Create a testimonial-v1"
Hi! It's my first contribution. I have made the component for testimonial v1.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/98601749/195938728-fc9e76c1-c650-44f1-bff5-a134f1126c75.png)

Here is the result.
![image](https://user-images.githubusercontent.com/98601749/195938853-c6a65c82-c4b5-4d07-8ddb-466d0b6d7502.png)

I can make it thinner if needed, as w

[2022-10-14 20:40] #171 closed

[2022-10-15 00:02] Gunika2002 commented on #14
@rupsha014 yes i am working on it..just need to edit the component a bit

[2022-10-15 03:06] infuman69 opened #177 "Create a Mobile Navbar"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![image](https://user-images.githubusercontent.com/81096719/195966211-d53f76af-f721-4520-bf23-f71e2f8a5a7c.png)

After building the component please raise a PR with a screenshot o

[2022-10-15 03:07] infuman69 commented on #177
@Rajdip019  Can I work on this issue ?

[2022-10-15 03:16] rahulkarda opened #178 "Create a textarea component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![textarea](https://user-images.githubusercontent.com/76204863/195966492-ae314f0a-baa7-4d5b-bfed-1b768cb71896.png)

After building the component please raise a PR with a screenshot of

[2022-10-15 03:18] rahulkarda commented on #137
@rupsha014 close this issue, it's already merged.

[2022-10-15 03:20] ThisisMS11 commented on #178
I can do this please assign this one to me.

[2022-10-15 03:21] rahulkarda commented on #178
I have opened a PR already.

[2022-10-15 03:39] prernadabi23 commented on #177
can i work on this issue?

[2022-10-15 03:43] AbirSantra commented on #150
Hey @Rajdip019 , the width of the component as shown in the Figma design is the maximum width right?

[2022-10-15 04:14] MadhurKharche commented on #165
![image](https://user-images.githubusercontent.com/78757405/195968206-9c31a5b1-62b6-4ea4-8c5b-e54502248ae8.png)
Here is the screenshot of the component. The image used is changed. I have added a PR already

[2022-10-15 04:16] MadhurKharche commented on #114
Allow me to work on this issue.

[2022-10-15 04:18] ThisisMS11 commented on #178
@rahulkarda  Sorry I didn't observe that.

[2022-10-15 04:22] AKACHI-4 commented on #167
Is it still open can I work on this?

[2022-10-15 04:42] animesh156 opened #182 "Create a Navbar"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![projectcopy](https://user-images.githubusercontent.com/114474707/195968992-2cd36672-c32d-4b74-a27c-6b2ba7735a5b.png)

After building the component please raise a PR with a screenshot

[2022-10-15 04:43] animesh156 commented on #182
@Rajdip019  assign this to me...

[2022-10-15 05:24] MadhurKharche commented on #14
Please allow me to work on this issue.

[2022-10-15 05:24] MadhurKharche commented on #14
Please allow me to work on this issue @rupsha014 @Rajdip019

[2022-10-15 05:52] Hiresh23 commented on #182
i would like to work on this

[2022-10-15 05:53] Hiresh23 commented on #134
i would like to contribute

[2022-10-15 05:53] DarkSoul26 commented on #111
@Rajdip019 @rupsha014 can you take a look into the #186 where I have added the details of this issue.

[2022-10-15 05:58] animesh156 commented on #182
@Hiresh23 bro I have raised this one for me & i have completed this, You can find other issues or make your own issue and work on it

[2022-10-15 06:39] AKACHI-4 commented on #81
@Rajdip019 I have completed it plz review

[2022-10-15 06:47] SayantanStackflow opened #188 "Create a Pricing-style-4"
Hi there, I would like to build this component `pricing-style-4`  as per the Figma UI file design under Hacktoberfest2022

Here is a reference to the component.
![Screenshot (32)](https://user-images.githubusercontent.com/103353878/195973161-2220d141-446c-4198-9c38-ef8ee550dfbf.png)

If no one has yet begun, kindly assign the component issue to me.

Thank You,
Sayantan

[2022-10-15 06:54] AKACHI-4 opened #189 "Create a Feature Card"
One needs to make this component using `HTML` and `Tailwind CSS`. I would suggest using [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

I would like to work on Assign it to me

Here is a reference to the component.
![issue2](https://user-images.githubusercontent.com/99159580/195973584-ad6e24f5-4a85-49bd-82d1-89fe999c22fd.png)

[2022-10-15 06:55] Hiresh23 opened #190 "Create a Pricing Style 5"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here
![Screenshot 2022-10-15 122442](https://user-images.githubusercontent.com/99505876/195973689-74a4c303-8473-4179-889c-dd2270372fe9.png)

After building the component

[2022-10-15 06:55] burhanharoon commented on #189
Assign this to me. I would to work on this!

[2022-10-15 06:55] Hiresh23 commented on #190
please assign

[2022-10-15 06:57] AKACHI-4 commented on #189
Hello, @burhanharoon good to see that u are interested in it but I already started working on it so plz go with some other components.

[2022-10-15 06:59] burhanharoon commented on #189
Yeah sure. Best of luck!

[2022-10-15 07:07] jesulonimii opened #191 "Create a Success Alert Modal"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/70331030/195973985-ed6cf90e-7b83-46a5-8f30-eb25069c757f.png)

After building the component please raise a PR with a screenshot of the

[2022-10-15 07:07] jesulonimii commented on #191
Please assign me this issue

[2022-10-15 08:16] udoyhasan commented on #160
@rupsha014 can I work on this issue? I've already submitted and pull request for this component in #192

[2022-10-15 08:45] Hiresh23 commented on #190
I have made it sending pull request

[2022-10-15 09:38] Rajdip019 commented on #177
Go ahead @infuman69

[2022-10-15 09:39] Rajdip019 commented on #190
Go ahead @Hiresh23

[2022-10-15 09:40] Rajdip019 commented on #189
Go ahead @AKACHI-4

[2022-10-15 09:41] Rajdip019 commented on #191
This is not in the Figma File. So closing this PR. @jesulonimii

[2022-10-15 09:41] #191 closed

[2022-10-15 09:42] Rajdip019 commented on #188
Go ahead. @SayantanStackflow

[2022-10-15 09:43] Rajdip019 commented on #182
This is already built. So, closing this issue. @animesh156

[2022-10-15 09:44] #182 closed

[2022-10-15 09:44] Rajdip019 commented on #178
Assigning you right now. @rahulkarda

[2022-10-15 09:46] Rajdip019 commented on #160
Will check that. @udoyhasan

[2022-10-15 09:47] Rajdip019 commented on #150
Yes. @AbirSantra

[2022-10-15 10:03] jesulonimii opened #194 "Create a Notification Alert Card-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/70331030/195980573-8ff99415-ae08-47a5-b981-9eb8d1f7ba39.png)

After building the component please raise a PR with a screenshot of the

[2022-10-15 10:29] MadhurKharche opened #196 "Create a content-card-5"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here
![image](https://user-images.githubusercontent.com/78757405/195981613-1f4f81e0-6ee6-4440-bbac-21a2abe40862.png)

After building the component please raise a PR with

[2022-10-15 10:31] MadhurKharche commented on #196
Please assign me this issue @Rajdip019 @rupsha014

[2022-10-15 10:33] Ruchita1010 opened #197 "Create a contact component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here
![Screenshot (291)](https://user-images.githubusercontent.com/70577616/195981845-a623237a-c0a5-47f9-b36f-c73f5cb25e4a.png)

After building the component please rais

[2022-10-15 10:34] Ruchita1010 commented on #197
Please assign me to this issue. I would like to work on it!

[2022-10-15 10:48] AmitDeka commented on #160
I have requested a PR #178

[2022-10-15 11:35] Hiresh23 opened #199 "Create a Contact Component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here
![Screenshot 2022-10-15 170434](https://user-images.githubusercontent.com/99505876/195984330-fbcab8f2-bf48-4f96-9997-a8a97132bf1f.png)

After building the component

[2022-10-15 11:35] Hiresh23 commented on #199
Please Assign

[2022-10-15 12:49] Anuran12 commented on #194
@jesulonimii  I would like to work on this..

[2022-10-15 13:25] AKACHI-4 opened #202 "Create a alert"
Hey, I want to make this component using `HTML` and `Tailwind CSS`. I will use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Capture](https://user-images.githubusercontent.com/99159580/195988730-eba259e7-c60a-4591-bc0c-759425ce9b70.PNG)

icon resource - [Hero Icons](https://heroicons.com/)

Kindly assign it to me.

[2022-10-15 14:09] jesulonimii commented on #194
I'm working on it

[2022-10-15 17:56] nishit3134 opened #205 "Create a contact/appointment form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/111650900/196001292-855207e4-ece0-40de-98af-60437df137ae.png)

After building the component please raise a PR with a screenshot of th

[2022-10-15 17:57] nishit3134 commented on #205
@Rajdip019  I would like to work on this issue

[2022-10-15 18:02] MadhurKharche commented on #166
I wish to work on this issue

[2022-10-15 19:00] Rajdip019 commented on #199
This is already done. @Hiresh23

[2022-10-15 19:00] #199 closed

[2022-10-15 19:01] Rajdip019 commented on #196
Go ahead @MadhurKharche

[2022-10-15 19:01] Rajdip019 commented on #205
Go ahead @nishit3134

[2022-10-15 19:01] Rajdip019 commented on #202
Go ahead @AKACHI-4

[2022-10-15 19:02] Rajdip019 commented on #194
Go ahead @jesulonimii

[2022-10-15 19:30] #167 closed

[2022-10-15 19:55] MadhurKharche commented on #22
Please allow me to work on this issue

[2022-10-15 21:30] MadhurKharche opened #208 "Create a Content Card-9"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

After building the component please raise a PR with a screenshot of the component and add the component in `path of the file`.

![image](https://user-images.githubusercontent.com/7875

[2022-10-15 21:31] MadhurKharche commented on #208
Please assign me this issue

[2022-10-15 23:36] SayantanStackflow opened #210 "Create a Form-card-4"
I want to work on this component next, I have submitted my previous issue,

Here is a reference to the component.
![Capture3](https://user-images.githubusercontent.com/103353878/196011282-a59b28df-715c-43ab-bd44-ab261575c9fe.PNG)

Kindly assign the issue

Thank You,
Sayantan

[2022-10-16 00:56] yhoungdev commented on #210
can you sign this issue to me ?

[2022-10-16 02:33] #134 closed

[2022-10-16 02:52] #81 closed

[2022-10-16 03:35] AKACHI-4 opened #212 "Create a Feature"
Hey, I would like to create this Feature card

### Working ground
For HTML code - [Tailwind Playgrounds](https://play.tailwindcss.com/)
For Icon - [Hero Icons](https://heroicons.com/)

### Screenshot
![Capture](https://user-images.githubusercontent.com/99159580/196016700-b8243d8b-73cb-4ee4-baee-e0e221ba805d.PNG)

Kindly assign it to me So I can raise PR ASAP

Thanks.

[2022-10-16 05:06] JotiradityaB opened #213 "I want to add a simple carousal out of html and css"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

After building the component please raise a PR with a screenshot of the component and add the component in `path of the file`.

If you need to use any icon please

[2022-10-16 05:07] AashishKatila commented on #213
Could you assign it to me?

[2022-10-16 05:16] JotiradityaB commented on #213
I am doing it already

[2022-10-16 05:22] Rajdip019 commented on #212
Go ahead @AKACHI-4

[2022-10-16 05:26] #113 closed

[2022-10-16 05:27] #160 closed

[2022-10-16 05:27] #150 closed

[2022-10-16 05:28] #137 closed

[2022-10-16 06:18] #202 closed

[2022-10-16 06:23] #212 closed

[2022-10-16 06:24] Rajdip019 commented on #210
This is already built. Closing this issue. @SayantanStackflow

[2022-10-16 06:24] #210 closed

[2022-10-16 06:24] Rajdip019 commented on #208
Go ahead @MadhurKharche

[2022-10-16 06:25] Rajdip019 commented on #213
I can not see an image here. @AashishKatila

[2022-10-16 06:26] #197 closed

[2022-10-16 06:26] MadhurKharche opened #216 "Create a Feature Card-17"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196021402-b0de5b43-981c-4c0b-9800-2fc83760c3c0.png)

After building the component please raise a PR with a screenshot of the

[2022-10-16 06:30] Rajdip019 commented on #216
Go ahead @MadhurKharche

[2022-10-16 06:37] SayantanStackflow commented on #210
Okay, my bad I guess. I didn't notice the element in the code, I'm trying new one

[2022-10-16 06:38] Rajdip019 commented on #76
Are you still working on this issue? @kaustav202

[2022-10-16 06:39] #14 closed

[2022-10-16 06:42] rupsha014 commented on #22
@yugalibalbudhe  Are u still working on this?

[2022-10-16 06:43] rupsha014 commented on #85
@gokul1099  Are you still working on this?

[2022-10-16 06:44] #99 closed

[2022-10-16 06:48] NitishPal2013 commented on #208
@Rajdip019 I have created the Content Card 9. Can i make a pr against this issue under hactoberfest label ?
Here is the screenshot of my work on Tailwind Playground.
![Screenshot from 2022-10-16 12-15-17](https://user-images.githubusercontent.com/76246219/196022232-0dde8630-8833-474c-9b30-f41b56ced781.png)

[2022-10-16 06:54] kaustav202 commented on #76
yes @Rajdip019 ..I will make the PR soon

[2022-10-16 06:55] myGlitches commented on #29
@Rajdip019 Hi again  , which are the ones already done?

[2022-10-16 07:04] yhoungdev commented on #210
Ok you can assign to Me tho

[2022-10-16 07:05] Rajdip019 commented on #29
Will be updating the Figma File soon. The green marks are done already. @myGlitches

[2022-10-16 07:06] Rajdip019 commented on #114
Are you still working on this issue? @devjain2309

[2022-10-16 07:07] #115 closed

[2022-10-16 07:07] #136 closed

[2022-10-16 07:07] #162 closed

[2022-10-16 07:08] #177 closed

[2022-10-16 07:09] #188 closed

[2022-10-16 07:10] Rajdip019 commented on #189
You have linked wrong PR I guess. @AKACHI-4

[2022-10-16 07:11] myGlitches commented on #29
@Rajdip019 Great , so the form is not done right?

https://prnt.sc/-R4XeaFOIQ2A

This one , will create a request then and delete this comment

[2022-10-16 07:11] #194 closed

[2022-10-16 07:12] #196 closed

[2022-10-16 07:13] JotiradityaB opened #218 "Want to build content card-6"
![image](https://user-images.githubusercontent.com/114105421/196023186-f067d038-ea00-4877-80ca-8da7d5f372e1.png)

[2022-10-16 07:14] #205 closed

[2022-10-16 07:14] Rajdip019 commented on #218
This is not in the Figma File. The closing this issue. @JotiradityaB

[2022-10-16 07:15] #213 closed

[2022-10-16 07:18] #76 closed

[2022-10-16 07:25] nishit3134 opened #221 "Create a mobile filter"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/111650900/196023619-d09ef317-0c8c-4281-838b-2e1f3713a4ab.png)

After building the component please raise a PR with a screenshot of th

[2022-10-16 07:25] nishit3134 commented on #221
@Rajdip019 I would like build this component

[2022-10-16 07:27] AKACHI-4 commented on #189
Ya sorry that PR is related to different issue

[2022-10-16 07:28] AKACHI-4 commented on #189
Wait I will correct it on new PR mentioned with that issue

[2022-10-16 07:29] Rajdip019 commented on #29
Yeah raise a issue for them but those will be different different issues. @myGlitches

[2022-10-16 07:32] myGlitches commented on #29
Got it ! @Rajdip019

[2022-10-16 07:32] Rajdip019 commented on #221
Go ahead @nishit3134

[2022-10-16 07:33] Rajdip019 commented on #189
Sure. @AKACHI-4

[2022-10-16 07:33] #178 closed

[2022-10-16 07:34] AKACHI-4 commented on #189
Sorry for the inconvenience actually That PR is related to #212 and I mentioned the wrong issue So now it will be okay maybe I edited my PR and I am still working on this issue So....

[2022-10-16 07:39] Rajdip019 commented on #189
Make a new PR if there is an problem. @AKACHI-4

[2022-10-16 07:41] rupsha014 opened #222 "Create a email form group"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-group-1](https://user-images.githubusercontent.com/109761128/196024047-9fa250a7-b01a-4933-a8e8-8b44c5773f8e.png)

After building the component please raise a PR with a scre

[2022-10-16 07:41] myGlitches opened #223 "Want to Create - Alert Red Button"
Here is a reference to the component.

Will add it to the Alerts folder

![Error Alert Issue](https://user-images.githubusercontent.com/65249625/196024071-35a1e3a4-7334-43b5-a0bf-c12b2a21f49a.png)

[2022-10-16 07:42] Rajdip019 opened #224 "Create a Feature Card - Choose File"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-3](https://user-images.githubusercontent.com/91758830/196024098-d1a09d57-6155-4b64-ad68-ae1e4b756b63.png)

On click this should open the file manager.

After building the

[2022-10-16 07:42] Rajdip019 commented on #223
Go ahead @myGlitches

[2022-10-16 07:43] Rajdip019 opened #225 "Create a Search filter category"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-6](https://user-images.githubusercontent.com/91758830/196024165-d4c445f4-0abf-4895-9be7-78edaa7ad8d5.png)

After building the component please raise a PR with a screenshot

[2022-10-16 07:44] myGlitches commented on #223
Thanks @Rajdip019

[2022-10-16 07:45] Rajdip019 opened #226 "Create a Search with zip"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-7](https://user-images.githubusercontent.com/91758830/196024232-6f1e2409-d51a-42b5-af0a-307a30343866.png)

After building the component please raise a PR with a screenshot

[2022-10-16 07:45] rupsha014 opened #227 "Create a search form group-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-group-4](https://user-images.githubusercontent.com/109761128/196024180-eabd803f-f1b3-437b-94d9-58aafedb35f1.png)

After building the component please raise a PR with a scre

[2022-10-16 07:46] Rajdip019 opened #228 "Create a search version 4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-8](https://user-images.githubusercontent.com/91758830/196024276-b0d155cc-cba2-4a9b-8ba4-7533951be49e.png)

After building the component please raise a PR with a screenshot

[2022-10-16 07:47] its-kundan commented on #227
!assign

[2022-10-16 07:47] rupsha014 opened #229 "Create a search form group-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-group-5](https://user-images.githubusercontent.com/109761128/196024326-3c73434c-4388-4649-bd74-80fa0f8bfda7.png)

After building the component please raise a PR with a scre

[2022-10-16 07:47] Rajdip019 opened #230 "Create a email Form group email-v2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-9](https://user-images.githubusercontent.com/91758830/196024328-30bc7102-5d03-479f-80d4-827990cb1e78.png)

After building the component please raise a PR with a screenshot

[2022-10-16 07:48] Rajdip019 commented on #227
not assign you? @its-kundan Ha ha.

[2022-10-16 07:48] its-kundan commented on #229
!assign

[2022-10-16 07:50] rupsha014 opened #231 "Create a category form group"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-group-2](https://user-images.githubusercontent.com/109761128/196024381-812a2b94-f9f8-4433-b782-c2e9151600e0.png)

After building the component please raise a PR with a scre

[2022-10-16 07:51] rohan9024 commented on #230
@Rajdip019 Can I work on this?

[2022-10-16 07:51] rohan9024 commented on #229
@rupsha014 Can I work on this?

[2022-10-16 07:51] Rajdip019 commented on #230
Go ahead @rohan9024

[2022-10-16 07:52] rohan9024 commented on #228
@Rajdip019 Can I work on this?

[2022-10-16 07:52] rohan9024 commented on #227
@rupsha014 Can I work on this?

[2022-10-16 07:53] Rajdip019 commented on #228
You are already assigned to an issue. @rohan9024 Finish that first

[2022-10-16 07:53] rohan9024 commented on #230
@Rajdip019 Alright thank you!

[2022-10-16 07:54] VSB14 commented on #231
Hii Rupsha, can you assign this issue to me?

[2022-10-16 07:55] rohan9024 commented on #228
@Rajdip019 Okay sure

[2022-10-16 07:56] its-kundan commented on #227
bro... its bot command for assign !!
I guess you are noob,

[2022-10-16 07:56] rupsha014 commented on #231
go ahead @VSB14

[2022-10-16 08:01] SayantanStackflow commented on #225
I'd like to ask you to assign me @Rajdip019 on this component, I'm available right now.

[2022-10-16 08:11] SayantanStackflow commented on #228
Hi, @Rajdip019 can I work on this component? Since I'm seeing no one have been assigned on it yet and I have submitted my previous pr.

Thank you,
Sayantan

[2022-10-16 08:11] myGlitches opened #233 "Want to Create - Info Alert"
Reference to Component

![Info Alert Notification](https://user-images.githubusercontent.com/65249625/196025367-6b41b431-43a5-4b23-a92e-d5ff498a9bf8.png)

Will add under Alert folder

Good luck.

[2022-10-16 08:12] rrsingh11 commented on #224
Hey @Rajdip019 ! I would like to work on this issue. Could you please assign it to me?

[2022-10-16 08:12] rupsha014 commented on #229
go ahead @its-kundan

[2022-10-16 08:13] rupsha014 commented on #233
@myGlitches go ahead

[2022-10-16 08:13] rrsingh11 commented on #222
Hey @rupsha014 ! , I would like to work on this issue could you assign it to me?

[2022-10-16 08:14] myGlitches commented on #233
Thanks ! @rupsha014

[2022-10-16 08:14] rupsha014 commented on #228
@SayantanStackflow go ahead

[2022-10-16 08:18] rohan9024 commented on #226
@Rajdip019 Hey, Can I work on this?

[2022-10-16 08:22] rohan9024 opened #235 "Create Store buttons"
I would like to build this component

Please assign me this.

![image](https://user-images.githubusercontent.com/64919642/196025811-47a5664f-a1c0-46cf-8a2b-c08b58bfdc57.png)

[2022-10-16 08:32] Rajdip019 commented on #224
Sure. go ahead @rrsingh11

[2022-10-16 08:33] Rajdip019 commented on #235
All the components in the green background is already built. @rohan9024

[2022-10-16 08:33] #235 closed

[2022-10-16 08:37] myGlitches commented on #233
Done

[2022-10-16 08:46] myGlitches commented on #223
Done

[2022-10-16 08:48] myGlitches commented on #227
@Rajdip019 Assign this to me please! Done with the other 2

[2022-10-16 08:52] Rajdip019 commented on #227
Okay go for it. @myGlitches

[2022-10-16 08:54] myGlitches commented on #233
Also, @Rajdip019  @rupsha014 is it possible to mention the Figma file and how to contribute, directly in the description for newbies like myself? Can change the doc if you want me to

[2022-10-16 09:02] myGlitches opened #236 "Create a Warning Alert"
Here is a reference to the component.

![Warning Alert Notification](https://user-images.githubusercontent.com/65249625/196027237-53a68901-a779-40b6-be6b-f6f0174e0b05.png)

Please Assign

[2022-10-16 09:03] Rajdip019 commented on #233
Hey, @myGlitches . We are not giving users to change the Figma file.

[2022-10-16 09:03] #233 closed

[2022-10-16 09:03] Rajdip019 commented on #236
Go ahead @myGlitches

[2022-10-16 09:05] myGlitches commented on #233
No , I meant something else and I saw it is already mentioned ! My bad sorry ~ hehe

[2022-10-16 09:05] rohan9024 opened #238 "Create buttons"
Can I build these buttons?
Please assign me.

![image](https://user-images.githubusercontent.com/64919642/196027363-df48931a-6fba-4c67-a943-7f5110aec170.png)

[2022-10-16 09:24] #231 closed

[2022-10-16 09:28] myGlitches commented on #236
This is done @Rajdip019

[2022-10-16 09:32] #221 closed

[2022-10-16 09:35] #236 closed

[2022-10-16 09:38] myGlitches commented on #227
@Rajdip019 thanks!

[2022-10-16 09:48] infuman69 opened #242 "Create a Widget List"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![image](https://user-images.githubusercontent.com/81096719/196028904-0168a8de-38e5-420e-bf01-a39302d0dd22.png)

After building the component please raise a PR with a screenshot o

[2022-10-16 09:48] infuman69 commented on #242
@Rajdip019 Can I work on this issue?

[2022-10-16 10:32] Rajdip019 commented on #242
Go ahead. @infuman69

[2022-10-16 10:32] om-dhumal opened #243 "Create an Image Card"
Hey, I would like to add an image card with a brief description and explore button. For ref I have attached a gif below.
Tools/ Libraries which I would be using : HTML, Tailwind CSS

Reference to the component
![imageCardm1](https://user-images.githubusercontent.com/94060153/196030278-ee423c71-c3ca-40aa-a5ab-499d090ea624.gif)

[2022-10-16 10:34] Rajdip019 commented on #243
This is not in the Figma Design. Please choose a UI component from the figma file. @om-dhumal

[2022-10-16 10:34] #243 closed

[2022-10-16 10:35] Rajdip019 commented on #238
Most of these are already done. @rohan9024 . So closing this issue.

[2022-10-16 10:35] #238 closed

[2022-10-16 10:37] Rajdip019 commented on #226
Go ahead @rohan9024

[2022-10-16 10:37] #230 closed

[2022-10-16 10:37] #223 closed

[2022-10-16 10:38] Rajdip019 commented on #225
I guess you are already assigned to an issue. @SayantanStackflow

[2022-10-16 10:55] myGlitches commented on #227
Done!

[2022-10-16 10:55] Rajdip019 commented on #22
Hey any one want to work on this issue then comment below.

[2022-10-16 10:56] myGlitches commented on #225
@Rajdip019 Onto this now ~

[2022-10-16 10:56] Rajdip019 commented on #225
Go ahead @myGlitches

[2022-10-16 10:57] #227 closed

[2022-10-16 11:11] MadhurKharche commented on #22
Please assign it to me @Rajdip019

[2022-10-16 11:13] SayantanStackflow commented on #225
ya it's okey I got assigned to another component before you replied

[2022-10-16 11:13] #208 closed

[2022-10-16 11:13] #216 closed

[2022-10-16 12:27] myGlitches commented on #225
Done ! @Rajdip019

[2022-10-16 12:29] myGlitches commented on #222
@Rajdip019 @rupsha014 , is @rrsingh11 working on this?

[2022-10-16 12:40] MadhurKharche opened #248 "Create a Feature Card-19"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196035907-1663fd90-7a22-44d5-97f3-42d844781c6c.png)

After building the component please raise a PR with a screenshot of the

[2022-10-16 12:41] MadhurKharche commented on #248
Please assign this to me @Rajdip019

[2022-10-16 12:48] Blanco237 commented on #190
Please assign me

[2022-10-16 12:56] MadhurKharche opened #249 "Create a Feature Card-18"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196036601-e2298c47-5400-4725-a633-18a869d229c7.png)

After building the component please raise a PR with a screenshot of the

[2022-10-16 12:57] MadhurKharche commented on #249
Please assign the issue to me @Rajdip019

[2022-10-16 13:07] myGlitches opened #250 "Create Card Item 22"
Here is a reference to the component that I want to make

![card-item-22](https://user-images.githubusercontent.com/65249625/196037107-d8c61ef8-d64e-4d1b-acda-7140e92c3886.png)

[2022-10-16 13:10] myGlitches commented on #250
feature-card-item-22

[2022-10-16 13:27] myGlitches commented on #249
Hey @MadhurKharche  @Rajdip019   , I have finished coding this issue as well

I think @MadhurKharche has another issue open as well for card-19 issue #248

[2022-10-16 13:33] Abhishek3223 commented on #250
hey can i do this?

[2022-10-16 13:33] MadhurKharche commented on #249
I have already finished designing the component. I only add the PR for the same @myGlitches

[2022-10-16 13:38] myGlitches commented on #249
Oh, did not know you were assigned to this 😅 @MadhurKharche , your name is not showing so I thought

[2022-10-16 14:17] AdityaShaw1 commented on #22
pls assign me i want to contribute in this issue

[2022-10-16 14:19] AdityaShaw1 commented on #250
can u pls assign me

[2022-10-16 14:24] AdityaShaw1 opened #252 "create a ui design of landing page"

[2022-10-16 14:24] Rajdip019 commented on #248
You are already assigned to an issue.

[2022-10-16 14:26] Rajdip019 commented on #252
Please read the CONTRIBUTING.md before raising an issue. @AdityaShaw1 Closing this issue for now.

[2022-10-16 14:26] #252 closed

[2022-10-16 14:26] AdityaShaw1 opened #253 "Solve N- Queens problem using C,C++"

[2022-10-16 14:27] #253 closed

[2022-10-16 14:39] myGlitches commented on #248
@Rajdip019 assign this to me then?

[2022-10-16 14:45] MadhurKharche commented on #248
I have added a PR for that issue [#254](https://github.com/Clueless-Community/web-ui-kit/issues/249) @Rajdip019 . Can you assign this issue to me?

[2022-10-16 16:45] rrsingh11 commented on #224
Hey, @Rajdip019  do you want "Go" to be a button and that icon to select the file from File manager?

[2022-10-16 16:56] animesh156 opened #255 "Create a Contact Component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

After building the component please raise a PR with a screenshot of the component and add the component in Contact/contact-3.html.

If you need to use any icon please use it from [Hero Icons](https://heroicons.com/)

Good

[2022-10-16 16:57] animesh156 commented on #255
@Rajdip019 assign me this I have almost done code for this component..

[2022-10-16 17:29] #255 closed

[2022-10-16 17:36] animesh156 opened #257 "Create a Contact component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (74)](https://user-images.githubusercontent.com/114474707/196049729-a81bf1ea-a26c-4856-99ac-23a96a3cefbd.png)

After building the component please raise a PR with a screen

[2022-10-16 17:36] animesh156 commented on #257
@Rajdip019  assign me this issue ..

[2022-10-17 04:15] DarkSoul26 commented on #111
@Rajdip019 please take a look into this #186

[2022-10-17 04:51] udoyhasan commented on #222
@rupsha014 @Rajdip019 can I work on this component? I've already created a pull request #260

[2022-10-17 07:09] akanshaaa19 commented on #222
Please Assign this issue to me.

[2022-10-17 07:09] akanshaaa19 commented on #189
Please assign this issue to me

[2022-10-17 07:10] akanshaaa19 commented on #166
if available Please assign this issue to me

[2022-10-17 07:10] akanshaaa19 commented on #165
If available Please assign this issue to me

[2022-10-17 07:10] akanshaaa19 commented on #85
if available please assign this to me

[2022-10-17 07:11] Rajdip019 commented on #248
Sure @MadhurKharche

[2022-10-17 07:14] akanshaaa19 opened #262 "Create a widget list-item-6"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/76031685/196112274-608221dd-ba44-476b-af97-3c9d34d99074.png)

After building the component please raise a PR with a screenshot of the

[2022-10-17 07:16] akanshaaa19 opened #263 "Create a Contact component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![image](https://user-images.githubusercontent.com/76031685/196112617-b7dde241-869c-4768-b596-84cb71867c9e.png)

After building the component please raise a PR with a screenshot o

[2022-10-17 07:16] akanshaaa19 commented on #263
Please assign

[2022-10-17 07:30] jaswindersingh2601 commented on #263
Assign this issue to me, I am interested to work in this issue.

[2022-10-17 07:31] animesh156 commented on #257
@Rajdip019  I have made this component and already sent you pr please check it

[2022-10-17 09:35] a-u-m opened #264 "Create Content Card-3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
<img width="225" alt="Screenshot 2022-10-17 at 3 04 01 PM" src="https://user-images.githubusercontent.com/115929571/196143646-3de97201-6bc4-40ac-ba90-bd9e397d6309.png">

After building

[2022-10-17 09:35] rohan9024 commented on #222
@Debajyoti14 @Rajdip019  please assign me

[2022-10-17 09:37] rohan9024 commented on #222
@Rajdip019 Also, Can you review my previous PR as well?

[2022-10-17 09:38] a-u-m commented on #264
@Rajdip019 Hey I would like to work on this component.

[2022-10-17 09:49] rohan9024 opened #266 "Create a Desktop/ Mobile Filter"
I would like to create this component-

![image](https://user-images.githubusercontent.com/64919642/196146835-e4fb21f6-3024-46f5-8817-e6580bdf6a55.png)

![image](https://user-images.githubusercontent.com/64919642/196146477-b6b82d7f-e5a6-4318-89bf-6f22b5976a74.png)

Please assign me this.

[2022-10-17 13:30] Rajdip019 commented on #266
Please choose one @rohan9024 the I will assign you.

[2022-10-17 13:31] Rajdip019 commented on #262
Go ahead build it. @akanshaaa19

[2022-10-17 13:32] Rajdip019 commented on #263
This component is already assigned to someone else so closing this issue. @akanshaaa19

[2022-10-17 13:32] #263 closed

[2022-10-17 13:32] Rajdip019 commented on #224
Hey are you working on this or I can assign any one else in this? @rrsingh11

[2022-10-17 13:33] Rajdip019 commented on #22
Go ahead @AdityaShaw1

[2022-10-17 13:34] #222 closed

[2022-10-17 13:34] #225 closed

[2022-10-17 13:40] rrsingh11 commented on #224
Hey, Sorry I thought you are not an active maintainer because I asked the question and you didn't reply. Sorry my bad.

I took another project, you can assign it to someone else.

[2022-10-17 13:42] Rajdip019 commented on #224
Hey, this repo is being maintained regularly, somehow I missed this one. Sorry for the inconvenience.

[2022-10-17 13:42] rohan9024 commented on #266
@Rajdip019 Can I create both and make different PRs?

[2022-10-17 13:46] Rajdip019 commented on #266
Okay sure. Do that. @rohan9024

[2022-10-17 13:46] rrsingh11 commented on #224
No problem. Actually I took another task, after I complete it and no one would be working on it then I would ask you to assign me again.
Thank you

[2022-10-17 14:36] jesulonimii opened #269 "Create a Upload Input formgroup"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/70331030/196206039-55130974-ea17-45c8-802e-c4b069d40261.png)

After building the component please raise a PR with a screenshot of the

[2022-10-17 14:51] rohan9024 opened #272 "Create a Mobile Filter"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/64919642/196209592-d8604b01-f6df-4ff9-bbe5-d75147d97e20.png)

After building the component please raise a PR with a screenshot of the

[2022-10-17 14:51] rohan9024 commented on #272
@Rajdip019 please assign this

[2022-10-17 14:53] AdityaShaw1 commented on #22
hlo can u pls tell me , i have to only write the code to make that button and attach a ss of the button ??

[2022-10-17 15:49] Rajdip019 commented on #272
Go ahead @rohan9024

[2022-10-17 15:50] Rajdip019 commented on #269
hey @jesulonimii this PR is already raised. Assigning that issue to you and closing this one.

[2022-10-17 15:50] #269 closed

[2022-10-17 16:02] Rajdip019 commented on #269
Comment on #224 Issue I will assign you . @jesulonimii

[2022-10-17 16:03] #226 closed

[2022-10-17 16:20] Rajdip019 commented on #22
Yes. Please check the other buttons in the Buttons folder, how the code is written. @AdityaShaw1

[2022-10-17 17:36] jesulonimii commented on #224
Please assign me this

[2022-10-17 17:51] #111 closed

[2022-10-17 17:55] #264 closed

[2022-10-17 17:55] #165 closed

[2022-10-17 17:56] rupsha014 commented on #166
@amardeep911 Are you still working on thsi?

[2022-10-17 17:56] Rajdip019 commented on #189
Hey is the issue resolved? @AKACHI-4

[2022-10-17 17:58] #190 closed

[2022-10-17 17:59] #228 closed

[2022-10-17 18:00] rupsha014 commented on #229
@its-kundan Are u still working on it?

[2022-10-17 18:03] rupsha014 commented on #262
@akanshaaa19 if you are done with the issue... please link the PR to the issue

[2022-10-17 18:03] #248 closed

[2022-10-17 18:04] #249 closed

[2022-10-17 18:04] #250 closed

[2022-10-17 18:05] rupsha014 commented on #242
@infuman69 ...if done with the issue link the PR

[2022-10-17 18:06] rohan9024 commented on #229
@rupsha014 assign me if he's not working

[2022-10-17 18:16] rupsha014 opened #276 "Create a navbar -3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![navbar-style-2](https://user-images.githubusercontent.com/109761128/196251921-053e0895-18e8-40e6-ad21-e5aea04d7a08.png)

After building the component please raise a PR with a sc

[2022-10-17 18:17] madmaxWMFU commented on #276
Hi! Can you assign it to me?

[2022-10-17 18:17] rupsha014 opened #277 "Create a Navbar-4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![navbar-style-4](https://user-images.githubusercontent.com/109761128/196252496-414d3c71-c64e-4742-9e2c-c0decfdbd2ce.png)

After building the component please raise a PR with a sc

[2022-10-17 18:18] Rajdip019 opened #278 "Create a Mobile Nav 2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar navbar-light](https://user-images.githubusercontent.com/91758830/196252512-9f193cdf-863a-473b-a23e-05bcfd24f1b1.png)

After building the component please raise a PR with a scr

[2022-10-17 18:19] Rajdip019 opened #279 "Create Mobile Nav 3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar-style-2 navbar-light](https://user-images.githubusercontent.com/91758830/196252718-72e9ab95-3654-486e-afb3-8de1117c55dd.png)

After building the component please raise a PR wi

[2022-10-17 18:19] rupsha014 opened #280 "Create a navbar -6"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to
![navbar-style-5](https://user-images.githubusercontent.com/109761128/196252837-3233fed4-3734-4991-be54-0060f4314968.png)
 the component.
####

After building the component please raise a PR with a s

[2022-10-17 18:20] Rajdip019 opened #281 "Create Mobile Nav 4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar-style-3 navbar-light](https://user-images.githubusercontent.com/91758830/196252930-0f92e65b-6659-4827-8a35-fffc3ad1a119.png)

After building the component please raise a PR wi

[2022-10-17 18:20] madmaxWMFU commented on #278
Hi! Can you assign it to me?

[2022-10-17 18:21] Rajdip019 opened #282 "Create Mobile Nav-5"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar-style-4 navbar-light](https://user-images.githubusercontent.com/91758830/196253253-e264c456-6414-45d9-ae5d-563b744f006d.png)

After building the component please raise a PR wi

[2022-10-17 18:22] Rajdip019 opened #283 "Create Mobile Nav 6"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar-style-5 navbar-light](https://user-images.githubusercontent.com/91758830/196253411-686507c8-8ce2-4f84-877c-cca944bf3049.png)

After building the component please raise a PR wi

[2022-10-17 18:22] rupsha014 opened #284 "Create a navbar -5"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![navbar-style-6](https://user-images.githubusercontent.com/109761128/196253379-65bf5efc-f415-4d64-bce7-f3bffe05b9cb.png)

After building the component please raise a PR with a sc

[2022-10-17 18:23] Rajdip019 opened #285 "Create Mobile Nav 7"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar-style-6 navbar-light](https://user-images.githubusercontent.com/91758830/196253588-f1860817-c767-41a0-bb16-76a1c496f816.png)

After building the component please raise a PR wi

[2022-10-17 18:23] Rajdip019 commented on #278
Go ahead. @madmaxWMFU

[2022-10-17 18:24] Rajdip019 commented on #276
Hey you are already assigned to an issue. @madmaxWMFU

[2022-10-17 18:25] zetadeceleste commented on #276
Hello! Can I work on this?

[2022-10-17 18:25] udoyhasan commented on #276
@Rajdip019 please assign me

[2022-10-17 18:26] Rajdip019 commented on #276
Go ahead @zetadeceleste

[2022-10-17 18:28] udoyhasan commented on #283
@Rajdip019 please assign it to me.

[2022-10-17 18:29] udoyhasan commented on #283
@Rajdip019 thank you :)

[2022-10-17 18:31] AKACHI-4 commented on #189
No need of that I think

[2022-10-17 18:32] AKACHI-4 commented on #189
Hey @Rajdip019 Actually my exams are going on so I need at least one week to solve this issue I will generate a PR

[2022-10-17 18:37] AKACHI-4 commented on #189
For other participants....

It's good that you wanna contribute here but there are a lot components on [figma-component](https://www.figma.com/file/0eqV7t3UKKM14UeqCSfOZb/Essential-UI---Figma-Ui-Kit-(Community)?node-id=688%3A1988) file u can build them and merge them in kit

[2022-10-17 18:39] Anuran12 commented on #285
I would like to work on this

[2022-10-17 18:40] Anuran12 commented on #285
@Rajdip019 please assign this to me

[2022-10-17 18:42] zetadeceleste commented on #276
thank you!

[2022-10-17 18:42] Rajdip019 commented on #285
Sure. @Anuran12

[2022-10-17 18:44] streetcodec commented on #284
Please assign this to me! @rupsha014

[2022-10-17 18:48] Rajdip019 commented on #284
Go ahead @streetcodec

[2022-10-17 18:53] 20RitikSingh commented on #282
I want to contribute to this.

[2022-10-17 18:53] 20RitikSingh commented on #277
I want to contribute to this.

[2022-10-17 18:54] Rajdip019 commented on #282
Go ahead. @20RitikSingh

[2022-10-17 18:57] MadhurKharche commented on #165
Here is the PR link [Pull #173] (https://github.com/Clueless-Community/web-ui-kit/pull/173) @Rajdip019

[2022-10-17 19:01] MadhurKharche opened #287 "Create a Product item 4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196260338-3a0390db-55fe-4d25-8675-aa54a10a6fac.png)

After building the component please raise a PR with a screenshot of the

[2022-10-17 19:03] Rajdip019 commented on #287
Go ahead @MadhurKharche

[2022-10-17 19:44] a-u-m opened #290 "Create Product Card-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
<img width="204" alt="Screenshot 2022-10-18 at 1 10 53 AM" src="https://user-images.githubusercontent.com/115929571/196268143-f46de893-11e6-4cc8-8c51-726bc9f9f620.png">

After building

[2022-10-17 19:51] a-u-m commented on #290
@Rajdip019  I would like to work on this component.

[2022-10-18 00:41] zetadeceleste commented on #276
It's done, here's the PR https://github.com/Clueless-Community/web-ui-kit/pull/293

[2022-10-18 03:38] xuann6 commented on #280
@rupsha014  i would like to do this, thx.

[2022-10-18 03:41] xuann6 commented on #279
@Rajdip019 i would like to do this. Thx.

[2022-10-18 04:06] #290 closed

[2022-10-18 04:08] a-u-m opened #294 "Create Product Card-1"
@Rajdip019 I would like to work on the following component
Here is a reference to the component.
<img width="204" alt="Screenshot 2022-10-18 at 1 10 53 AM" src="https://user-images.githubusercontent.com/115929571/196333020-e0fb04f0-02ad-4d85-927f-10c93e96f6f8.png">

[2022-10-18 04:39] Rajdip019 commented on #294
Go ahead @a-u-m

[2022-10-18 04:39] Rajdip019 commented on #280
Go ahead. @xuann6

[2022-10-18 04:40] Rajdip019 commented on #279
You are already assigned to an issue. @xuann6

[2022-10-18 04:40] Rajdip019 commented on #277
You are already assigned to an issue. @20RitikSingh

[2022-10-18 04:45] #276 closed

[2022-10-18 04:48] #287 closed

[2022-10-18 04:48] #224 closed

[2022-10-18 04:48] #242 closed

[2022-10-18 04:51] #257 closed

[2022-10-18 04:51] #229 closed

[2022-10-18 04:52] Rajdip019 commented on #189
No problem @AKACHI-4 take your time.

[2022-10-18 04:53] rohan9024 commented on #229
@Rajdip019 assign me this

[2022-10-18 05:33] rohan9024 commented on #279
@Rajdip019 please assign this

[2022-10-18 05:34] rohan9024 commented on #277
@Rajdip019 @rupsha014 please assign me

[2022-10-18 05:35] rohan9024 commented on #272
@Rajdip019 done👍

[2022-10-18 06:09] rohan9024 commented on #279
@Rajdip019 I have created the component ........please assign

![image](https://user-images.githubusercontent.com/64919642/196349219-39e31330-4e14-4db6-a941-5ca6a64dc485.png)

[2022-10-18 06:10] Rajdip019 commented on #279
Have you finished the components which are already assigned to you? @rohan9024

[2022-10-18 06:11] rohan9024 commented on #279
@Rajdip019 yes, I have created a PR as well

[2022-10-18 07:23] Rajdip019 commented on #279
Okay go ahead @rohan9024

[2022-10-18 07:23] #272 closed

[2022-10-18 07:24] Rajdip019 commented on #277
You are already assigned to two issue. @rohan9024

[2022-10-18 07:27] rohan9024 commented on #277
@Rajdip019 Created PR for both of them😎....... please assign this issue as well

[2022-10-18 07:28] rohan9024 commented on #279
@Rajdip019 done 👍

[2022-10-18 07:28] #279 closed

[2022-10-18 07:29] Rajdip019 commented on #266
The desktop version is done? @rohan9024

[2022-10-18 07:30] Rajdip019 commented on #277
Ha ha slow down. @rohan9024 . By the way assigning you.

[2022-10-18 07:31] rohan9024 commented on #266
@Rajdip019 yep!

Create marketplace-products.html #270

[2022-10-18 07:31] rohan9024 commented on #277
@Rajdip019 Thank you!

[2022-10-18 07:32] #266 closed

[2022-10-18 07:53] rohan9024 opened #299 "Create a Feature Card"
Here is a reference to the component-

![image](https://user-images.githubusercontent.com/64919642/196370112-e4a20233-1e4a-4632-825f-823d628d9c7e.png)

Please assign this.

[2022-10-18 07:55] rohan9024 opened #300 "Create a Widgets Item"
Here is a reference to the component-

![image](https://user-images.githubusercontent.com/64919642/196370572-67953b44-8dd5-4f68-8130-f7f9654390aa.png)

Please assign this

[2022-10-18 07:59] udoyhasan commented on #283
@Rajdip019 I've submitted this component in the pull request #302

[2022-10-18 08:07] hritikbhattacharya commented on #299
@Rajdip019 can i work on this

[2022-10-18 08:09] rohan9024 commented on #299
@hritikbhattacharya already done bruh😎

[2022-10-18 09:23] udoyhasan commented on #163
@Rajdip019 @rupsha014 I've created this component on pull request #304

[2022-10-18 10:57] udoyhasan commented on #166
@rupsha014 @Rajdip019 I've created this component and made a pull request #305

[2022-10-18 13:13] MadhurKharche opened #307 "Create a Product item-5"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196439310-2a38df87-6c24-4825-a201-5fbce323a034.png)

After building the component please raise a PR with a screenshot of the

[2022-10-18 13:13] MadhurKharche commented on #307
Please assign me this issue

[2022-10-18 15:58] #277 closed

[2022-10-18 15:59] #163 closed

[2022-10-18 15:59] Rajdip019 commented on #300
You are already assigned to an issue. @rohan9024

[2022-10-18 16:06] rohan9024 commented on #300
@Rajdip019 Already created a PR.

[2022-10-18 16:38] rohan9024 commented on #300
@Rajdip019 yoo here is the component -->

![image](https://user-images.githubusercontent.com/64919642/196491042-68cbefce-41b1-482d-9d6a-634bc01a22a5.png)

[2022-10-18 16:41] rohan9024 commented on #299
@Rajdip019 done 👍

[2022-10-18 16:55] hritikbhattacharya commented on #300
@Rajdip019 this is not good , he is creating the ui designs without getting assigned

[2022-10-18 17:04] rohan9024 commented on #300
@hritikbhattacharya because I had completed the previous design

[2022-10-18 17:12] hritikbhattacharya commented on #300
@rohan9024 then wait till he assign you the issue

[2022-10-18 17:18] rohan9024 commented on #300
@hritikbhattacharya whenever he does, I'll be ready with my PR 😎

[2022-10-18 18:30] Sulagna-Dutta-Roy opened #312 "create a sticky navigation bar"
## What is the motivation for adding/enhancing this feature?
It will be a simple responsive navigation bar that will be create by myself.

## What are the acceptance criteria?
I would like to do this feature using html,css only.

- [x] ...

## Can you complete this feature request by yourself?

- [x] YES
- [ ] NO

## Additional information

[2022-10-18 18:49] animesh156 opened #313 "Create a Notification list"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (86)](https://user-images.githubusercontent.com/114474707/196517930-148daf06-f754-4306-9f49-66b0f42f3679.png)

After building the component please raise a PR with a screen

[2022-10-18 18:50] animesh156 commented on #313
@Rajdip019  assign me this issue

[2022-10-18 19:08] Rajdip019 commented on #312
Hey, @Sulagna-Dutta-Roy we are not accepting components from outside the figma file. @Sulagna-Dutta-Roy

[2022-10-18 19:08] #312 closed

[2022-10-18 19:08] Rajdip019 commented on #313
This is already done. @animesh156

[2022-10-18 19:09] #299 closed

[2022-10-18 19:49] #284 closed

[2022-10-18 19:58] #283 closed

[2022-10-18 20:32] rupsha014 opened #315 "Create a email Form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![form-input-14](https://user-images.githubusercontent.com/109761128/196537790-d17feae0-c8d4-4f69-855e-d580f718552a.png)

After building the component please raise a PR with a scr

[2022-10-18 20:34] rupsha014 opened #316 "Create a select option form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-input-15](https://user-images.githubusercontent.com/109761128/196538416-56cf1f27-30dd-4b48-90cd-866a85794b58.png)

After building the component please raise a PR with a scr

[2022-10-18 20:37] rupsha014 opened #317 "Create a search form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-input-16](https://user-images.githubusercontent.com/109761128/196539581-9047e227-1850-46ef-abb4-9a05d9367761.png)

After building the component please raise a PR with a scr

[2022-10-18 20:39] rupsha014 opened #318 "Create a get file form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-input-17](https://user-images.githubusercontent.com/109761128/196539997-44cfb22f-6752-46c9-b28b-443a55f79ca7.png)

After building the component please raise a PR with a scr

[2022-10-18 20:41] rupsha014 opened #319 "Create a notearea-1 form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-input-18](https://user-images.githubusercontent.com/109761128/196540349-0fb9abc3-9820-4e17-8c0e-fa0718cab662.png)

After building the component please raise a PR with a scr

[2022-10-18 20:42] rupsha014 opened #320 "Create a notearea2 form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-input-19](https://user-images.githubusercontent.com/109761128/196540527-f8483f6a-1ece-439a-82f4-c53158239841.png)

After building the component please raise a PR with a scr

[2022-10-18 20:43] rupsha014 opened #321 "Create a messagearea form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-input-20](https://user-images.githubusercontent.com/109761128/196540717-c2ca06af-e32f-4f7d-826a-f6b6849ec70d.png)

After building the component please raise a PR with a scr

[2022-10-18 20:56] rodolfonei commented on #321
I would like to work on this one, please

[2022-10-18 20:57] Rajdip019 commented on #321
Go ahead @rodolfonei

[2022-10-19 04:13] udoyhasan commented on #320
@rupsha014 @Rajdip019 I've created a pull request for this component in #323

[2022-10-19 04:14] Halim-Shams commented on #316
I can do that for you.

[2022-10-19 04:15] Halim-Shams commented on #315
Can you assign this to me

[2022-10-19 04:18] Halim-Shams commented on #317
can you assign this to me.

[2022-10-19 04:22] Rajdip019 commented on #317
Go ahead @Halim-Shams

[2022-10-19 04:23] Rajdip019 commented on #315
Hey You are already assigned to an issue. Please finish that first. @Halim-Shams

[2022-10-19 04:24] #320 closed

[2022-10-19 05:32] RachitGarg-12 commented on #319
@rupsha014  i would like to contribute on this issue.

[2022-10-19 05:32] RachitGarg-12 commented on #318
@rupsha014  i would like to contribute on this issue.

[2022-10-19 05:46] animesh156 commented on #315
@rupsha014  @Rajdip019  can you assign thsi to me

[2022-10-19 05:51] Rajdip019 commented on #315
Go ahead @animesh156

[2022-10-19 06:34] rohan9024 commented on #319
@Rajdip019 @rupsha014 please assign

[2022-10-19 06:34] rohan9024 commented on #300
@Rajdip019 done 👍

[2022-10-19 06:36] rohan9024 commented on #318
@rupsha014 @Rajdip019 please assign

[2022-10-19 06:36] rohan9024 commented on #316
@Rajdip019 @rupsha014 please assign

[2022-10-19 07:01] abirhasanohi commented on #316
@Rajdip019 @rupsha014 I've created this component and make a pull request #328

[2022-10-19 10:20] rohan9024 commented on #316
@abirhasanohi they'll assign you first then only you can make a PR 😂...........aisa toh bhai hum bhi hazaar PR create kar le🤣

[2022-10-19 11:01] hritikbhattacharya opened #330 "Create a marketplace_filter_3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![hdhd](https://user-images.githubusercontent.com/44370586/196697264-29838b81-a402-4158-bb8e-dd83fff27ca5.png)

After building the component please raise a PR with a screenshot of the

[2022-10-19 11:02] hritikbhattacharya commented on #330
assign this to me I want to work on the template @Rajdip019 @rupsha014

[2022-10-19 12:12] Rajdip019 commented on #330
Please choose one. @hritikbhattacharya

[2022-10-19 12:12] Rajdip019 commented on #330
And also update the picture I am assigning you.

[2022-10-19 12:13] Rajdip019 commented on #319
Go ahead @RachitGarg-12

[2022-10-19 12:19] #316 closed

[2022-10-19 12:20] #300 closed

[2022-10-19 12:42] Aditya-Shahari opened #333 "Create a pricing-style-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![pricing-style-2](https://user-images.githubusercontent.com/90385171/196693611-3a629406-cf4b-4b2a-95f9-793468a313a8.png)

After building the component please raise a PR with a screens

[2022-10-19 12:43] Aditya-Shahari commented on #333
Hi, I would like to work on this issue, kindly assign it to me

[2022-10-19 12:53] hritikbhattacharya commented on #330
ok

[2022-10-19 13:11] bbsdevloper opened #334 "Create a marketplace_filter_3_2.html"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/99157367/196700175-156df496-c037-4cbf-a9df-7efb3099c412.png)

After building the component please raise a PR with a screenshot of the

[2022-10-19 13:12] bbsdevloper commented on #334
I want t work on this issue.
Please assign this to me @Rajdip019

[2022-10-19 13:32] rahulkarda opened #336 "Create a testimonial-v9"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![test9](https://user-images.githubusercontent.com/76204863/196705761-5fcdb94b-7148-4743-9cda-6f8f280f21c0.png)

After building the component please raise a PR with a screenshot of the

[2022-10-19 14:01] randomrock opened #338 "Create a footer-v2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

![footer](https://user-images.githubusercontent.com/73513711/196712782-2cd86f0e-daf1-4245-bcdd-b565310bae0b.PNG)

After building the component please raise a PR with a screenshot of t

[2022-10-19 14:03] itsmanojthapa commented on #338
Hey, can you assign this issue to me?

[2022-10-19 14:17] MadhurKharche opened #340 "Create a Pricing-style-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.

![image](https://user-images.githubusercontent.com/78757405/196717053-b47347a6-5d69-4931-b811-551ed597e457.png)

After building the component please raise a PR with a screenshot of th

[2022-10-19 14:18] MadhurKharche commented on #340
Please assign me this issue.

[2022-10-19 15:32] rohan9024 commented on #318
@Rajdip019 done 👍

[2022-10-19 15:54] rohan9024 opened #343 "Create a Widget Items"
Here is the screenshot -->

![image](https://user-images.githubusercontent.com/64919642/196742496-ccd83741-64c0-4f5c-a3ba-b63ef91efdc8.png)

please assign me

[2022-10-19 15:56] rohan9024 opened #344 "Create a Widget Items with icons"
Here is the component -->

![image](https://user-images.githubusercontent.com/64919642/196742943-744a999d-797f-4e2d-9fcd-75f6c7cb7118.png)

please assign. I have already created this component and created PR

[2022-10-19 16:31] DeveVivek commented on #321
Is the issue solved?

[2022-10-19 16:31] rohan9024 commented on #344
#345 Here is the PR @Debajyoti14 @Rajdip019

[2022-10-19 16:33] DeveVivek commented on #338
Assign me this issue...!!!

[2022-10-19 18:47] #344 closed

[2022-10-19 18:49] Rajdip019 commented on #343
Go ahead @rohan9024

[2022-10-19 18:49] Rajdip019 commented on #340
Go ahead @MadhurKharche

[2022-10-19 18:50] Rajdip019 commented on #336
This one looks cool. @rahulkarda Go ahead.

[2022-10-19 18:51] Rajdip019 commented on #334
Go ahead. @bbsdevloper

[2022-10-19 18:52] Rajdip019 commented on #333
Go ahead. @Aditya-Shahari

[2022-10-19 18:52] #318 closed

[2022-10-19 18:54] #321 closed

[2022-10-19 18:55] #336 closed

[2022-10-19 18:56] #330 closed

[2022-10-19 18:56] #317 closed

[2022-10-19 18:56] #294 closed

[2022-10-19 18:57] #319 closed

[2022-10-19 18:58] hritikbhattacharya opened #347 "Marketplace product"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![4646](https://user-images.githubusercontent.com/44370586/196780102-a570c845-c29f-4ea0-8aee-575dd3cff7ac.png)

After building the component please raise a PR with a screenshot of the

[2022-10-19 18:58] Rajdip019 commented on #347
Go ahead. @hritikbhattacharya

[2022-10-19 18:58] hritikbhattacharya commented on #347
@Rajdip019  i want to work on this part

[2022-10-19 18:59] #285 closed

[2022-10-19 19:02] MadhurKharche opened #349 "Create a Pricing Style-6 card"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196780918-c2f024f4-b456-4ccf-bb62-cd99160ab11b.png)

After building the component please raise a PR with a screenshot of the

[2022-10-19 19:02] MadhurKharche commented on #349
Please assign this issue to me.

[2022-10-19 19:05] Rajdip019 commented on #349
Go ahead. @MadhurKharche

[2022-10-19 19:16] #347 closed

[2022-10-19 19:17] hritikbhattacharya opened #352 "Marketplace product 2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![737](https://user-images.githubusercontent.com/44370586/196783736-17b70aac-062c-4861-9098-e5f949cc8d10.png)

After building the component please raise a PR with a screenshot of the c

[2022-10-19 19:17] hritikbhattacharya commented on #352
@Rajdip019 i want to work on this issue

[2022-10-19 19:30] hritikbhattacharya commented on #352
I am already started working on it , and almost completed it.

[2022-10-19 19:31] hritikbhattacharya commented on #352
@Iam-SilentEyes  you can work on its next part (size part ) which is similar to this

[2022-10-19 19:44] Rajdip019 commented on #352
Go ahead @hritikbhattacharya

[2022-10-19 19:45] #349 closed

[2022-10-19 19:55] Rajdip019 opened #353 "Create From Large Search with Zip"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-4](https://user-images.githubusercontent.com/91758830/196790676-d9b4cbc8-a1d4-48bb-bd8f-e30738f2312f.png)

After building the component please raise a PR with a screenshot

[2022-10-19 19:57] Rajdip019 opened #354 "Create Email with button"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-5](https://user-images.githubusercontent.com/91758830/196791105-eaef8a74-2fef-4bba-b209-b9290c78817b.png)

After building the component please raise a PR with a screenshot

[2022-10-19 19:59] Rajdip019 opened #355 "Create Search with category large"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-8](https://user-images.githubusercontent.com/91758830/196791397-2403575b-6de7-4cef-9af6-63cd11945486.png)

After building the component please raise a PR with a screenshot

[2022-10-19 20:00] Rajdip019 opened #356 "Create Message box large"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![form-group-6](https://user-images.githubusercontent.com/91758830/196791838-69536c88-15a0-4c1d-96fb-79ecc75fa7bb.png)

After building the component please raise a PR with a screenshot

[2022-10-19 20:03] rupsha014 opened #357 "Create a email large form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![form-group-1](https://user-images.githubusercontent.com/109761128/196792088-071b3ce2-a97e-45cc-b51f-d5a018af4473.png)

After building the component please raise a PR with a scre

[2022-10-19 20:03] MadhurKharche opened #358 "Create a Content-card-7"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196792391-c203d3bc-3c26-46ee-922c-b6557f36a49b.png)

After building the component please raise a PR with a screenshot of the

[2022-10-19 20:03] Iam-SilentEyes commented on #354
Can you assign me to this

[2022-10-19 20:03] MadhurKharche commented on #358
Please assign me this issue

[2022-10-19 20:04] Iam-SilentEyes commented on #353
Can you assign me to this

[2022-10-19 20:04] rupsha014 opened #359 "Create a file large form"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-group-7](https://user-images.githubusercontent.com/109761128/196792704-07d8c2e3-41ba-4c84-9cae-e9ec8c53e9b7.png)

After building the component please raise a PR with a scre

[2022-10-19 20:06] Rajdip019 commented on #354
Go ahead @Iam-SilentEyes

[2022-10-19 20:06] rupsha014 opened #360 "Create a search large form-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-group-2](https://user-images.githubusercontent.com/109761128/196793105-449acaf3-a973-465c-a434-8c07e9148398.png)

After building the component please raise a PR with a scre

[2022-10-19 20:07] Rajdip019 commented on #353
You are already assigned to an issue. @Iam-SilentEyes

[2022-10-19 20:09] rupsha014 opened #361 "Create a search large form -2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
![form-group-3](https://user-images.githubusercontent.com/109761128/196793382-6d6a6caa-921c-4d78-b777-f7b5c2f5c0b0.png)

After building the component please raise a PR with a scre

[2022-10-19 20:12] #278 closed

[2022-10-19 20:25] Upasana-Roy commented on #361
Can you please assign it to me. I want to work on this

[2022-10-19 20:35] rupsha014 commented on #360
@hritikbhattacharya go ahead

[2022-10-19 20:35] #352 closed

[2022-10-19 20:35] rupsha014 commented on #361
@Upasana-Roy go ahead

[2022-10-19 20:36] #338 closed

[2022-10-19 21:02] CodeRyliCode commented on #356
Could you assign me to this?

Here's my PR for this issue:[https://github.com/Clueless-Community/web-ui-kit/pull/363]( https://github.com/Clueless-Community/web-ui-kit/pull/363)

[2022-10-19 21:07] mnkyjs commented on #359
Hello @rupsha014, can you please assign me for this ticket? ❤️ 😊

[2022-10-19 21:11] mnkyjs commented on #357
Hello @rupsha014, can you please assign me for this issue as well please? 😊

[2022-10-19 21:44] DarioCostaAlves commented on #355
Can you assign to me? Thanks

[2022-10-20 02:30] Aditya-Shahari commented on #340
@MadhurKharche this is already assigned to me and I have started working on it

[2022-10-20 02:33] Rajdip019 commented on #359
Go ahead @mnkyjs

[2022-10-20 02:38] Rajdip019 commented on #355
Go ahead @DarioCostaAlves

[2022-10-20 02:41] Rajdip019 commented on #356
Okay will check that. @CodeRyliCode

[2022-10-20 02:42] #340 closed

[2022-10-20 03:00] bbsdevloper commented on #358
Please assign this to me
its my 4th PR

[2022-10-20 03:01] bbsdevloper commented on #357
Hello @rupsha014
I want to work on this issue.
please assign this to me

[2022-10-20 03:02] bbsdevloper commented on #353
Hey @Rajdip019
I have solved my previous issue which is is assigned to me can you please assign this to me as well .

[2022-10-20 03:38] rahulkarda opened #364 "Create a Statistics component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![stats](https://user-images.githubusercontent.com/76204863/196850705-2b9c2d58-f4a2-47cb-b37e-aa12cac02324.png)

After building the component please raise a PR with a screenshot of the

[2022-10-20 03:57] bbsdevloper opened #367 "Create a marketplace_filter_3_3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/99157367/196852907-2c7b2b9f-b71d-41a9-bd1d-54acd7162e50.png)

After building the component please raise a PR with a screenshot of the

[2022-10-20 03:58] bbsdevloper commented on #367
I want to work on this issue
Please assign this to me @Rajdip019

[2022-10-20 04:21] hritikbhattacharya opened #369 "marketplace product 3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![1](https://user-images.githubusercontent.com/44370586/196855771-f03ed9d8-b5c1-40e9-9c3b-5c7dafb3f5cd.png)

After building the component please raise a PR with a screenshot of the com

[2022-10-20 04:22] hritikbhattacharya commented on #369
@Rajdip019 @rupsha014  I want to work on this portion

[2022-10-20 04:35] MadhurKharche commented on #307
Yes. It has been merged  #310

[2022-10-20 05:27] Rajdip019 commented on #367
Go ahead @bbsdevloper

Congrats 🎉, your PR got merged. To be eligible for the swags from ClueLess. Follow this steps.

1. Star this repository. ⭐
2. SignIn / SignUp in [[ClueLess Website](https://www.clueless.tech/)](https://www.clueless.tech/) .
3. Go to profile section from the top right hand corner.

![https://i.ibb.co/MnDG5p6/Screenshot-2022-09-30-at-2-40-58-PM.png](https://i.ibb.co/MnDG5p6/Sc

[2022-10-20 05:28] Rajdip019 commented on #364
Looks go also will review the PR. @rahulkarda

[2022-10-20 06:34] Saloni2004 commented on #343
Hey, could you please assign me this

[2022-10-20 06:38] DeveVivek commented on #369
Please assign me this portion.

[2022-10-20 10:06] #364 closed

[2022-10-20 10:09] Rajdip019 commented on #358
Hey @MadhurKharche should I assign it to @bbsdevloper you already have done a lot of contribution.

[2022-10-20 10:11] #307 closed

[2022-10-20 10:15] #334 closed

[2022-10-20 10:24] MadhurKharche commented on #358
Yeah fine no issues.

[2022-10-20 10:28] MadhurKharche opened #373 "Create a Content-card-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/78757405/196924892-18380d90-6753-4a96-a171-39374aa72b36.png)

After building the component please raise a PR with a screenshot of the

[2022-10-20 10:29] MadhurKharche commented on #373
Assign me this issue please.

[2022-10-20 10:32] #333 closed

[2022-10-20 10:43] rohan9024 commented on #343
@Rajdip019 done 👍

[2022-10-20 10:46] rohan9024 opened #374 "Create a Footer 12 white"
Here is a reference to the component-->

![image](https://user-images.githubusercontent.com/64919642/196928299-80ecb103-51cc-4054-a977-ef0e64777633.png)

Please assign me.

I have also created a PR ....please review my PR.

[2022-10-20 10:48] Rajdip019 commented on #374
Go ahead @rohan9024

[2022-10-20 11:06] itsmanojthapa opened #375 "Create a Profile Card"
Here is a reference to the component

![image](https://user-images.githubusercontent.com/109368904/196932412-cc6a0491-b318-4eee-b938-88f6252fecb4.png)

assign me for this component.

[2022-10-20 11:13] rohan9024 commented on #374
@Rajdip019 done 👍

[2022-10-20 11:15] rohan9024 opened #377 "Create a Footer 12 lift blue"
Here is a reference to the component-->

![image](https://user-images.githubusercontent.com/64919642/196934152-9d071257-a6fe-43c0-8210-23f7e63d8d59.png)

Please assign me

[2022-10-20 11:18] rohan9024 opened #378 "Create a Footer 12 dark"
Here is a reference to the component -->

![image](https://user-images.githubusercontent.com/64919642/196934659-7d8de4ca-a642-4e55-9bf9-16c4653ad086.png)

Please assign me I have already created this component

[2022-10-20 11:20] avezqureshi14 commented on #378
can you assign this to me

[2022-10-20 11:22] avezqureshi14 commented on #375
can you assign me

[2022-10-20 11:22] avezqureshi14 commented on #375
Hey @itsmanojthapa bro can you assign this to me

[2022-10-20 11:26] rohan9024 commented on #378
@avezqureshi14 I have already created this component.... If you want to get assigned then look for the figma file and choose any component and create issue 👍

[2022-10-20 11:27] itsmanojthapa commented on #375
@avezqureshi14  i am not a maintainer of this project.

[2022-10-20 11:34] rohan9024 commented on #377
@Rajdip019

Here it is -->

![image](https://user-images.githubusercontent.com/64919642/196937535-927a2f39-9a56-4522-bc07-4cd190004c8c.png)

[2022-10-20 12:43] hritikbhattacharya opened #381 "Create a navbar_10"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/44370586/196951823-258a86d6-62fa-4141-86af-a39d37b7dc64.png)

After building the component please raise a PR with a screenshot of the

[2022-10-20 12:44] hritikbhattacharya commented on #381
I want to work on this

[2022-10-20 13:40] Rajdip019 commented on #375
This is not in the Figma File. Please read the docs to before raising an issue. @itsmanojthapa

[2022-10-20 13:42] #343 closed

[2022-10-20 13:43] #374 closed

[2022-10-20 13:43] #375 closed

[2022-10-20 13:46] rohan9024 commented on #378
#382

[2022-10-20 13:46] rohan9024 commented on #378
@Rajdip019 done 👍

[2022-10-20 13:47] #378 closed

[2022-10-20 13:50] rohan9024 commented on #377
@Rajdip019 done 👍

[2022-10-20 13:53] rohan9024 opened #384 "Create a Footer 11 white"
Here is a reference to the component-->

![image](https://user-images.githubusercontent.com/64919642/196967777-c56798b2-9294-46c0-9c52-823f51fa4a12.png)

Please assign me

[2022-10-20 14:03] #377 closed

[2022-10-20 15:28] Rajdip019 commented on #384
Bro slow down haha. Give other chance as well. @rohan9024

[2022-10-20 17:23] rahulkarda opened #387 "Create a stats v2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![statsv2](https://user-images.githubusercontent.com/76204863/197016807-4f30702d-2cb9-494d-a2aa-8acc28bc5b77.png)

After building the component please raise a PR with a screenshot of t

[2022-10-20 18:28] animesh156 opened #389 "Create a footer-4-dark"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (93)](https://user-images.githubusercontent.com/114474707/197028734-62a7dc52-7596-41eb-8ac8-fa0a3c87a13b.png)

After building the component please raise a PR with a screen

[2022-10-20 18:28] animesh156 commented on #389
@Rajdip019  can I work on this one

[2022-10-20 19:39] #387 closed

[2022-10-20 19:45] rupsha014 commented on #85
@akanshaaa19 go ahead

[2022-10-20 19:46] rupsha014 commented on #218
@JotiradityaB are u still working on this?

[2022-10-20 19:48] rupsha014 commented on #262
please comment if anybody else wants to work on this issue

[2022-10-20 19:49] rupsha014 commented on #280
@xuann6 are you still working on this issue?

[2022-10-20 19:50] rupsha014 commented on #282
@20RitikSingh are you still working on this issue?

[2022-10-20 19:51] #315 closed

[2022-10-20 19:53] rupsha014 commented on #353
@Iam-SilentEyes are you still working on this?

[2022-10-20 19:54] Rajdip019 commented on #354
Hey, @Iam-SilentEyes are you still working on this?

[2022-10-20 19:55] bbsdevloper commented on #353
Yes i have just posted the PR check please

[2022-10-20 19:56] rupsha014 commented on #355
@DarioCostaAlves are you still working on this?

[2022-10-20 19:56] #356 closed

[2022-10-20 19:57] #358 closed

[2022-10-20 19:58] #360 closed

[2022-10-20 19:58] #367 closed

[2022-10-20 19:59] #369 closed

[2022-10-20 20:07] bbsdevloper opened #391 "Create a Navbar 6"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/99157367/197047346-52db51a9-9584-4984-ad7a-fbe949cf82a0.png)

After building the component please raise a PR with a screenshot of the

[2022-10-20 20:07] bbsdevloper commented on #391
Can you assign this to me @Rajdip019

[2022-10-20 20:09] DarioCostaAlves commented on #355
Yes, I will build this component when I leave the work.

[2022-10-20 20:09] Rajdip019 commented on #391
Go ahead.

[2022-10-20 20:10] #353 closed

[2022-10-20 20:32] hritikbhattacharya opened #393 "Create a navbar_7"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/44370586/197052092-2cdc4596-6d70-4f66-9ce5-3093c9cc0445.png)

After building the component please raise a PR with a screenshot of the

[2022-10-20 20:32] hritikbhattacharya commented on #393
@Rajdip019  I want to work on this part

[2022-10-20 20:45] bbsdevloper opened #395 "Create a <Name>"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/99157367/197054301-362d2705-7bdf-42a2-8c5e-357c8ded88fb.png)

After building the component please raise a PR with a screenshot of the

[2022-10-20 20:45] bbsdevloper commented on #395
Hey @Rajdip019
assign me this

[2022-10-20 21:03] bbsdevloper opened #397 "Create a Navbar 15"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/99157367/197057712-ad123e59-17b2-4a93-bbd1-72899c723045.png)
After building the component please raise a PR with a screenshot of the

[2022-10-20 21:05] bbsdevloper commented on #397
Hey @Rajdip019
i want to work on this UI to Tailwind Css code conversion

[2022-10-20 21:09] bbsdevloper opened #398 "Create a navbar-17"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/99157367/197058542-ee59542b-f397-4f9b-b9e8-c175967b0125.png)
After building the component please raise a PR with a screenshot of the

[2022-10-20 21:09] bbsdevloper commented on #398
Hey @Rajdip019
assign this pls 😊

[2022-10-20 21:12] bbsdevloper opened #399 "Create a navbar-16"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/99157367/197059274-74f31261-0834-4ca5-bea3-2de4a8ca7dcd.png)
After building the component please raise a PR with a screenshot of the

[2022-10-20 21:13] bbsdevloper commented on #399
@Rajdip019
assign to me pls

[2022-10-20 23:04] Michelle031 commented on #357
Can I please be assigned this issue, I will deliver quickly. Thank you

[2022-10-21 03:05] Rajdip019 commented on #398
You are already assigned to two issues. Please finish them first. @bbsdevloper

[2022-10-21 03:05] Rajdip019 commented on #397
You are already assigned to two issues. Please finish them first. @bbsdevloper

[2022-10-21 03:05] Rajdip019 commented on #395
You are already assigned to two issues. Please finish them first. @bbsdevloper

[2022-10-21 03:05] Rajdip019 commented on #393
Go ahead

[2022-10-21 03:08] #391 closed

[2022-10-21 03:09] #381 closed

[2022-10-21 03:20] Rajdip019 commented on #357
Hey, @Michelle031 go ahead.

[2022-10-21 03:21] #355 closed

[2022-10-21 03:25] rahulkarda opened #400 "Create a Team component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![team](https://user-images.githubusercontent.com/76204863/197104606-112cb453-aba5-45a2-a96b-ad1855742a27.png)

After building the component please raise a PR with a screenshot of the

[2022-10-21 03:30] Mukul1235 commented on #398
@Rajdip019 please assign it to me

[2022-10-21 03:36] bbsdevloper commented on #398
@brother pls don't assign these issue created by me to anyone because i have already coded all the UI's

[2022-10-21 03:36] bbsdevloper commented on #395
@Rajdip019  brother pls don't assign these issue created by me to anyone because i have already coded all the UI's

[2022-10-21 03:37] bbsdevloper commented on #397
@Rajdip019  brother pls don't assign these issue created by me to anyone because i have already coded all the UI's
I am just waiting for PR got merged

[2022-10-21 03:57] Rajdip019 commented on #398
If you are assigned to an issue then only start coding it. you have to give everyone change. @bbsdevloper

[2022-10-21 03:58] Rajdip019 commented on #400
Please choose a template from Figma added lots of more UI components. @rahulkarda

[2022-10-21 03:58] #400 closed

[2022-10-21 03:59] rahulkarda commented on #400
I lost the link, send it again please!

[2022-10-21 05:06] bbsdevloper commented on #398
Done ✅  all the previous Issue

[2022-10-21 06:28] animesh156 commented on #389
@Rajdip019 completed my issue & sent you PR

[2022-10-21 06:36] Iam-SilentEyes commented on #354
Yeah I'm working on this

[2022-10-21 08:37] hritikbhattacharya opened #408 "Create a navbar_0"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/44370586/197151868-dd394936-1cfc-4ce6-9260-6c6d0107ed85.png)

After building the component please raise a PR with a screenshot of the

[2022-10-21 08:37] hritikbhattacharya commented on #408
I want to work on this @Rajdip019  @rupsha014

[2022-10-21 09:52] Iam-SilentEyes commented on #408
Can you assign me to this pls

[2022-10-21 14:10] saimaheshtaduri commented on #397
@Rajdip019 please assign this to me if possible.

[2022-10-21 14:20] Hiresh007 commented on #280
please assign

[2022-10-21 14:23] Hiresh007 commented on #397
Please assign me this

[2022-10-21 14:43] Hiresh007 commented on #373
please assign me this

[2022-10-21 14:44] Hiresh007 commented on #373
or any other project

[2022-10-21 15:04] #399 closed

[2022-10-21 16:30] rakicodes opened #412 "Create a footer 3 white"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
<img width="865" alt="Screen Shot 2022-10-21 at 10 19 30 AM" src="https://user-images.githubusercontent.com/101219940/197243993-874ae74b-3c2f-4ef0-9fd5-cfa7bd752a87.png">

After buildi

[2022-10-21 16:30] rakicodes commented on #412
I would like to work on this

[2022-10-21 17:15] AmitDeka commented on #160
https://www.clueless.tech/profile/40214392 @Rajdip019

[2022-10-21 17:52] MadhurKharche commented on #373
Pull request for this issue has been accepted already.

[2022-10-21 18:15] prem-io opened #414 "Create a Avatar component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

<img width="1112" alt="Screenshot 2022-10-21 at 11 11 02 PM" src="https://user-images.githubusercontent.com/51167082/197262330-8e0ad14a-a12c-455d-9f95-5b636456054e

[2022-10-21 18:15] prem-io commented on #414
Hey @Rajdip019 @rupsha014, I want to work on this component. Kindly, assign this to me.

[2022-10-21 18:28] Ruchita1010 opened #415 "Create Navbar-13"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (317)](https://user-images.githubusercontent.com/70577616/197264452-6ac30fbc-e36b-43d3-985f-6ab4dd8a6f75.png)

After building the component please raise a PR with a screen

[2022-10-21 18:28] Ruchita1010 commented on #415
Can I get assigned to this issue?

[2022-10-21 19:29] hritikbhattacharya opened #417 "Create a navbar_1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![image](https://user-images.githubusercontent.com/44370586/197274792-5b2a56ef-45d5-4640-92e2-e4be3cd60cf5.png)

After building the component please raise a PR with a screenshot of the

[2022-10-21 19:30] #393 closed

[2022-10-21 19:41] rupsha014 opened #418 "Create a footer white-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### <img width="1440" alt="Footer 5 white" src="https://user-images.githubusercontent.com/109761128/197279308-f670a930-4c26-4cda-950a-952b2cefc22c.png">

After building the component

[2022-10-21 19:43] rupsha014 opened #419 "Create a footer blue -1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 5 Lift blue" src="https://user-images.githubusercontent.com/109761128/197279492-97fe08c5-9589-4854-a034-dec392443b93.png">

After building the compon

[2022-10-21 19:45] rupsha014 opened #420 "Create a footer black-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 5 Dark" src="https://user-images.githubusercontent.com/109761128/197279646-7e9a4f6e-8844-41d5-b8a4-248d18717a35.png">

After building the component p

[2022-10-21 19:46] rupsha014 opened #421 "Create a footer white-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 6 white" src="https://user-images.githubusercontent.com/109761128/197277120-5a498e40-94ad-4324-ac57-5ba14d5269d1.png">

After building the component

[2022-10-21 19:48] rupsha014 opened #422 "Create a footer blue-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 6 lift blue" src="https://user-images.githubusercontent.com/109761128/197279820-294eaaf1-88d5-4b57-aca9-f7fcf00ef618.png">

After building the compon

[2022-10-21 19:50] rupsha014 opened #423 "Create a footer black-2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 6 Dark" src="https://user-images.githubusercontent.com/109761128/197277622-0a000764-6bb6-457b-b1f3-6737a35e090b.png">

After building the component p

[2022-10-21 19:51] rupsha014 opened #424 "Create a footer white-3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 7 white" src="https://user-images.githubusercontent.com/109761128/197277848-9f64de92-3404-4ef8-a299-e6e48de6d5a2.png">

After building the component

[2022-10-21 19:53] rupsha014 opened #425 "Create a footer blue -3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 7 lift blue" src="https://user-images.githubusercontent.com/109761128/197278079-48ddc772-2e7d-445f-8418-b98498279384.png">

After building the compon

[2022-10-21 19:54] rupsha014 opened #426 "Create a footer black-3"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 7 dark" src="https://user-images.githubusercontent.com/109761128/197278298-0aa4bbcc-9433-4cf4-8888-23995743a7e6.png">

After building the component p

[2022-10-21 19:56] rupsha014 opened #427 "Create a footer white-4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 8 white" src="https://user-images.githubusercontent.com/109761128/197278579-23f85c96-cdb9-4799-b783-ab6930d77543.png">

After building the component

[2022-10-21 19:58] rupsha014 opened #428 "Create a footer blue-4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 8 Lift blue" src="https://user-images.githubusercontent.com/109761128/197278809-9582da9e-5c05-481e-8f4e-587ce85782eb.png">

After building the compon

[2022-10-21 19:59] rupsha014 opened #429 "Create a footer black-4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 8 Dark" src="https://user-images.githubusercontent.com/109761128/197279109-4681ab74-4e03-4777-8757-1d898f712bf5.png">

After building the component p

[2022-10-21 20:31] yashsarnaik22 commented on #429
hey @rupsha014 can I do this?

[2022-10-21 20:54] Iam-SilentEyes commented on #418
Can you assign this to me

[2022-10-21 21:09] Hiresh007 commented on #421
please assign me this

[2022-10-21 22:29] bbsdevloper commented on #428
Hey @rupsha014 i want to work on this

[2022-10-21 22:29] bbsdevloper commented on #426
Hey @rupsha014 i want to work on this

[2022-10-21 22:29] bbsdevloper commented on #425
Hey @rupsha014 i want to work on this

[2022-10-21 22:29] bbsdevloper commented on #420
Hey @rupsha014 i want to work on this

[2022-10-21 22:37] rupsha014 commented on #420
@bbsdevloper go ahead

[2022-10-21 22:37] rupsha014 commented on #429
@yashsarnaik22 go ahead

[2022-10-21 22:48] bbsdevloper commented on #419
Assign it to me
@rupsha014
@Rajdip019

[2022-10-21 22:48] bbsdevloper commented on #424
Assign it to me @rupsha014 @Rajdip019

[2022-10-21 22:49] bbsdevloper commented on #423
Can you assign me this

[2022-10-21 22:49] bbsdevloper commented on #422
can you assign me this

[2022-10-21 22:51] bbsdevloper commented on #427
Assign me @rupsha014

[2022-10-21 22:52] bbsdevloper commented on #420
You need to assign me first na

[2022-10-22 03:40] rupsha014 commented on #418
@Iam-SilentEyes go ahead

[2022-10-22 03:42] rupsha014 commented on #421
@Hiresh007 go ahead

[2022-10-22 04:26] rohan9024 commented on #384
@Rajdip019 yeah yeah 😂......took a day off!

[2022-10-22 04:50] rahulkarda opened #432 "Create a Accordion"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![acc](https://user-images.githubusercontent.com/76204863/197320396-3430dd80-bb24-40e1-817c-da9a7f8434e2.png)

After building the component please raise a PR with a screenshot of the c

[2022-10-22 05:21] rohan9024 opened #435 "Create a Footer 11 lift blue"
Here is a reference to the component-->

![image](https://user-images.githubusercontent.com/64919642/197321949-1f9ee045-ce86-4f76-8cdb-50381d2c7cc3.png)

Please assign me

[2022-10-22 05:29] bbsdevloper commented on #415
Please assign this issue i have cdeded it

Here is the screenshot
![image](https://user-images.githubusercontent.com/99157367/197322170-97b63dac-be01-46cb-ba4e-3e6abcc43c5a.png)

[2022-10-22 06:09] bbsdevloper commented on #420
I have done it please merge my previous PR so that i can submit this again

![image](https://user-images.githubusercontent.com/99157367/197323409-a6605603-f9dd-4dc2-b10e-6cd9bd5b7c08.png)

[2022-10-22 06:49] prem-io commented on #432
Hey @Rajdip019 @rupsha014, I want to work on this component. Kindly, assign this to me.

[2022-10-22 06:50] rupsha014 commented on #432
@rahulkarda go ahead

[2022-10-22 06:53] prem-io commented on #414
@rupsha014 Could you please assign this to me.

[2022-10-22 07:07] prem-io commented on #422
@rupsha014 Can you assign this to me.

[2022-10-22 07:11] yashsarnaik22 commented on #429
ok on it!

[2022-10-22 07:11] prem-io commented on #29
@Rajdip019 A tiny suggestion. Can you also mark the components in the figma file with a different color to indicate if it is already assigned. This will make things little ease for others to pick new issues.

[2022-10-22 07:15] yashsarnaik22 commented on #429
@rupsha014 no need to add the boilerplate right? just the component code.

[2022-10-22 07:35] yashsarnaik22 commented on #429
where can I get the 'LIFT' logo

[2022-10-22 08:33] Rajdip019 commented on #428
You are already assigned to an issue.

[2022-10-22 08:33] Ruchita1010 commented on #415
@Rajdip019 Aren't we supposed to get assigned first and then work on the issue?

[2022-10-22 08:35] Rajdip019 commented on #415
Yeah @Ruchita1010 . Go ahead work on this. @bbsdevloper's PR will get marked invalid if he raises a PR for this. You need to get assigned first.

[2022-10-22 08:35] Rajdip019 commented on #414
This looks good @prem-io work on this.

[2022-10-22 08:37] Ruchita1010 commented on #415
Thank you!! I will start working on this :)

[2022-10-22 11:32] mnkyjs commented on #359
Done @Rajdip019 😊

https://github.com/Clueless-Community/web-ui-kit/pull/443

[2022-10-22 11:47] yashsarnaik22 commented on #429
@rupsha014 I have submitted a PR. please check.

[2022-10-22 12:02] prem-io commented on #422
@Rajdip019 @rupsha014 Raised [PR](https://github.com/Clueless-Community/web-ui-kit/pull/444) for this issue. Kindly, review and comment if any changes required.

[2022-10-22 12:03] prem-io commented on #414
@Rajdip019 @rupsha014 Raised [PR](https://github.com/Clueless-Community/web-ui-kit/pull/440) for this issue. Kindly, review and comment if any changes required.

[2022-10-22 12:04] prem-io opened #445 "Create a Breadcrumb component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

<img width="1033" alt="Screenshot 2022-10-21 at 11 27 31 PM" src="https://user-images.githubusercontent.com/51167082/197338052-aba064a4-a935-49a3-af3d-1c589f8fedd0

[2022-10-22 12:04] prem-io commented on #445
Hey @Rajdip019 @rupsha014, I want to work on this component. Kindly, assign this to me.

[2022-10-22 13:06] #361 closed

[2022-10-22 13:09] #422 closed

[2022-10-22 13:11] #415 closed

[2022-10-22 14:06] #445 closed

[2022-10-22 14:08] #262 closed

[2022-10-22 14:12] #435 closed

[2022-10-22 14:13] #432 closed

[2022-10-22 14:14] #420 closed

[2022-10-22 14:14] #414 closed

[2022-10-22 14:15] #359 closed

[2022-10-22 14:15] Rajdip019 commented on #29
The green background components are already built or the Issue is there. We try to update that everyday! @prem-io

[2022-10-22 14:24] #429 closed

[2022-10-22 14:47] rohan9024 opened #448 "Create a Footer 11 dark"
Here is a reference to the component -->

![image](https://user-images.githubusercontent.com/64919642/197345496-d919e676-16cb-4927-8f16-a80bb5b54f64.png)

Please assign me.

[2022-10-22 15:03] Visbhavesh commented on #448
Hey @rohan9024  assign it to me

[2022-10-22 15:03] shahGnp commented on #448
Can you assign me this please

[2022-10-22 15:08] rohan9024 commented on #448
@shahGnp @Visbhavesh Already created a PR !

[2022-10-22 16:27] AmitDeka commented on #22
Hi @Rajdip019  Can you close this issue ?

[2022-10-22 16:49] streetcodec commented on #428
I am interested, please assign! @Rajdip019

[2022-10-22 17:01] Anuran12 commented on #428
@rupsha014 i would like to work on this

[2022-10-22 17:02] Anuran12 commented on #427
I would like to work on this @rupsha014

[2022-10-22 17:38] #448 closed

[2022-10-22 17:38] #397 closed

[2022-10-22 17:39] Rajdip019 commented on #424
Is this done? @bbsdevloper

[2022-10-22 17:41] bbsdevloper commented on #424
Yes first accept my previous PR so that i can create new PR

[2022-10-22 18:34] #22 closed

[2022-10-22 18:36] #114 closed

[2022-10-22 18:37] #280 closed

[2022-10-22 18:39] rupsha014 commented on #282
If anybody else wants to work on this issue then please comment.

[2022-10-22 18:39] #354 closed

[2022-10-22 18:40] #417 closed

[2022-10-22 18:40] #373 closed

[2022-10-22 18:40] #384 closed

[2022-10-22 18:41] #389 closed

[2022-10-22 18:49] #408 closed

[2022-10-23 05:03] animesh156 opened #456 "Create a Content-card-item-8"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![Screenshot (95)](https://user-images.githubusercontent.com/114474707/197374841-639ec877-12ac-4ad3-8333-fc5b6fbbd0d1.png)

After building the component please raise a PR with a screen

[2022-10-23 05:05] animesh156 commented on #456
@Rajdip019  can I work on this one ?

[2022-10-23 05:22] Rajdip019 commented on #456
I guess this is not in the Figma file @animesh156

[2022-10-23 05:46] animesh156 commented on #456
@Rajdip019  it is you can see it content-card-item-8

[2022-10-23 08:06] Rajdip019 commented on #456
Go ahead @animesh156

[2022-10-23 17:04] rupsha014 opened #465 "Create a footer white-17"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 17 white" src="https://user-images.githubusercontent.com/109761128/197405410-c9ee5d9e-4e48-4f50-8fd7-5aeceab50abd.png">

After building the component

[2022-10-23 17:08] rupsha014 opened #466 "Create a footer blue-17"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 17 Lift blue" src="https://user-images.githubusercontent.com/109761128/197405575-0df1dcd3-3f67-4af0-b9a5-7f972482e55c.png">

After building the compo

[2022-10-23 17:10] rupsha014 opened #467 "Create a footer black-17"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 17 Dark" src="https://user-images.githubusercontent.com/109761128/197405660-94093f64-176d-40cb-855d-f0166f023d08.png">

After building the component

[2022-10-23 17:11] rupsha014 opened #468 "Create a footer white-18"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 18 white" src="https://user-images.githubusercontent.com/109761128/197405739-6739f865-4827-49a0-8fcf-cbf52291c789.png">

After building the component

[2022-10-23 17:12] rupsha014 opened #470 "Create a footer blue-18"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 18 Lift blue" src="https://user-images.githubusercontent.com/109761128/197405790-1621ab60-ca40-48ef-a0fd-3ac5815d56c1.png">

After building the compo

[2022-10-23 17:14] rupsha014 opened #471 "Create a footer black-18"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 18 Dark" src="https://user-images.githubusercontent.com/109761128/197405868-8fb4d5ef-81da-4761-9773-60270e905534.png">

After building the component

[2022-10-23 17:31] codesmith25103 commented on #471
I want to work on this issue. Please assign me?

[2022-10-23 17:38] Rajdip019 commented on #471
Go ahead @codesmith25103

[2022-10-23 18:24] Tegridy commented on #470
Hi, could you assign me to this?

[2022-10-23 18:33] Tegridy commented on #466
Hi, could you assign it to me?

[2022-10-23 18:34] Tegridy commented on #470
Hi, could you assign it to me?

[2022-10-23 18:40] Rajdip019 commented on #470
Go ahead @Tegridy

[2022-10-23 18:41] ABSTRAC7ION commented on #467
assign me this issue

[2022-10-23 18:44] Rajdip019 commented on #467
Go ahead @ABSTRAC7ION

[2022-10-23 20:36] rakicodes commented on #468
hi could you assign this to me?

[2022-10-24 02:36] SarveshPatil29 commented on #468
Hi! I would like to work on this issue. Can you please assign it to me? @rupsha014

[2022-10-24 02:37] SarveshPatil29 commented on #465
Hi! I would like to work on this issue. Can you please assign it to me? @rupsha014

[2022-10-24 02:44] Rajdip019 commented on #465
Go ahead @SarveshPatil29

[2022-10-24 04:39] SarveshPatil29 commented on #465
Hey, @Rajdip019 I have submitted a pr for this issue. Please let me know if any changes are required.

[2022-10-24 06:35] atharvabhoite7 commented on #466
Hey, @rupsha014  I'm interested in this. Please can you assign it to me?

[2022-10-24 06:48] Rajdip019 commented on #466
Sure, @Tegridy

[2022-10-24 06:57] Hiresh007 commented on #426
please assign my previous footer is merged so i am free

[2022-10-24 07:44] Hiresh007 commented on #423
please assign i have made the white so i would have to change the background only

[2022-10-24 08:38] Rajdip019 commented on #467
Hey, @SarveshPatil29 this footers looks similar I know but give other contributors chance as well. By the time you can pick a new issue.

[2022-10-24 08:41] SarveshPatil29 commented on #467
okay no problem

[2022-10-24 09:04] abhijain2003 opened #475 "Create a navbar-20"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

After building the component please raise a PR with a screenshot of the component and add the component in `path of the file`.

If you need to use any icon please

[2022-10-24 09:06] rohitsinghind commented on #475
hey, can u assign this to me

[2022-10-24 09:07] abhijain2003 commented on #475
hey I have raised this issue, let contributor assign this to me please

[2022-10-24 09:08] Viren0602 commented on #282
Hello sir, can you assign this issue to me?

[2022-10-24 09:13] Viren0602 commented on #426
Hello sir can you assign this issue to me?

[2022-10-24 09:15] Viren0602 commented on #425
Hello sir can you assign this issue to me?

[2022-10-24 09:15] Viren0602 commented on #423
Hello sir can you assign this issue to me?

[2022-10-24 10:05] Rajdip019 commented on #475
Go ahead @abhijain2003

[2022-10-24 10:11] Viren0602 commented on #425
Sir I have made a PR regarding #425 look if you need any changes

[2022-10-24 11:09] Viren0602 commented on #282
I have raised a PR on issue #282 look over it if you need any changes

[2022-10-24 11:27] #466 closed

[2022-10-24 12:30] Viren0602 commented on #424
Hello sir can you assign this issue to me?

[2022-10-24 13:33] Aditya-Shahari opened #480 "Create navbar-8"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![navbar-figma](https://user-images.githubusercontent.com/90385171/197537808-f426bf18-9bda-4d03-90ed-5844a2ccbae4.png)

After building the component please raise a PR with a screenshot

[2022-10-24 13:36] Aditya-Shahari commented on #480
I have already created pr!

[2022-10-24 14:39] Viren0602 commented on #480
Hello sir, can you assign this issue to me?

[2022-10-24 14:40] Viren0602 commented on #471
Hello sir, can you assign this issue to me?

[2022-10-24 14:41] Viren0602 commented on #468
Hello sir, can you assign this issue to me?

[2022-10-24 14:41] Viren0602 commented on #467
Hello sir, can you assign this issue to me?

[2022-10-24 14:42] Viren0602 commented on #465
Hello sir, can you assign this issue to me?

[2022-10-24 14:42] Viren0602 commented on #428
Hello sir, can you assign this issue to me?

[2022-10-24 14:43] Viren0602 commented on #85
Hello sir, can you assign this issue to me?

[2022-10-24 14:44] Viren0602 commented on #398
Hello sir, can you assign this issue to me?

[2022-10-24 14:44] Viren0602 commented on #412
Hello sir, can you assign this issue to me?

[2022-10-24 14:44] Viren0602 commented on #418
Hello sir, can you assign this issue to me?

[2022-10-24 14:44] Viren0602 commented on #419
Hello sir, can you assign this issue to me?

[2022-10-24 14:45] Viren0602 commented on #421
Hello sir, can you assign this issue to me?

[2022-10-24 14:46] Viren0602 commented on #424
Hello sir, can you assign this issue to me?

[2022-10-24 15:18] AKACHI-4 commented on #189
Issue Resolved

[2022-10-24 15:28] AKACHI-4 opened #482 "Create a Mobile-Filter-style-4"
Hey, I would like to add a component Mobile-filter-style-4 using Tailwind CSS.

### Sources
For Tailwind code - [Tailwind Playgrounds](https://play.tailwindcss.com/)
For Icon - [Hero Icons](https://heroicons.com/)

### Component Reference
![PR](https://user-images.githubusercontent.com/99159580/197564983-ceb779c9-bf53-44a4-a8dc-df3eea896109.PNG)

Kindly assign it to me

Thanks ❣

[2022-10-24 16:31] Hiresh007 commented on #421
i already completed this

[2022-10-24 16:59] Keerthivardhan1 commented on #480
Aditya-Shahari had already done it right

[2022-10-24 18:14] Aditya-Shahari commented on #480
@Rajdip019 I have already created pr please look into it.

[2022-10-24 18:49] #412 closed

[2022-10-24 18:49] #418 closed

[2022-10-24 18:53] AmitDeka commented on #357
@Rajdip019 can you close this issue

[2022-10-24 18:53] #419 closed

[2022-10-24 18:53] #421 closed

[2022-10-24 18:53] #424 closed

[2022-10-24 18:53] #425 closed

[2022-10-24 18:53] #427 closed

[2022-10-24 18:53] #465 closed

[2022-10-24 18:53] #467 closed

[2022-10-24 18:54] AmitDeka commented on #218
@Rajdip019 my PR is already merged . Can you close this

[2022-10-24 18:56] #218 closed

[2022-10-24 18:56] #282 closed

[2022-10-24 18:56] #357 closed

[2022-10-24 18:56] #475 closed

[2022-10-24 18:56] #480 closed

[2022-10-24 19:03] AmitDeka commented on #218
Thanks @rupsha014

[2022-10-24 19:08] Viren0602 commented on #282
I was assigned with this issue and I have raised a PR for that but my PR was not accepted and the issue is closed.

[2022-10-25 04:15] abhijain2003 commented on #475
hey why did you close it before merging

[2022-10-25 06:18] Aditya-Shahari opened #490 "Create a navbar-9"
Here is a reference to the component.
![navbar-9](https://user-images.githubusercontent.com/90385171/197695855-dfb78f49-1d83-45f9-be82-22f0da544d2a.png)

After building the component please raise a PR with a screenshot of the component and add the component in `Navbar/`.

If you need to use any icon please use it from [Hero Icons](https://heroicons.com/)

[2022-10-25 06:18] Aditya-Shahari commented on #490
Hi, I would like to work on this issue, kindly assign it to me

[2022-10-25 07:59] avezqureshi14 commented on #490
Hey can you assign me this

[2022-10-25 08:10] riddhitech commented on #490
Please assign me this issue.

[2022-10-25 09:31] #85 closed

[2022-10-25 09:34] #490 closed

[2022-10-25 10:22] akanshaaa19 opened #495 "Create a Product Card item-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![image](https://user-images.githubusercontent.com/76031685/197748816-3f81872f-a56b-4844-968b-882f517ccad4.png)

After building the component please raise a PR with a screenshot o

[2022-10-25 10:22] akanshaaa19 commented on #495
Please assign, i have completed this

[2022-10-25 10:24] akanshaaa19 opened #496 "Create a Content Card item-4"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![image](https://user-images.githubusercontent.com/76031685/197749433-8d03e05b-5b4f-45dd-8903-1e4dd40df29f.png)

After building the component please raise a PR with a screenshot o

[2022-10-25 10:25] akanshaaa19 commented on #496
Please Assign

[2022-10-25 10:25] akanshaaa19 opened #497 "Create a Content card item-5"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####![image](https://user-images.githubusercontent.com/76031685/197749567-4818e44a-4c0e-44cd-b3bf-95a440b62865.png)

After building the component please raise a PR with a screenshot of

[2022-10-25 10:26] akanshaaa19 commented on #497
Please assign

[2022-10-25 10:27] akanshaaa19 opened #498 "Create a Content card item-1"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### ![image](https://user-images.githubusercontent.com/76031685/197749969-1d49da1c-bbf7-463e-a89d-90bbd91978da.png)

After building the component please raise a PR with a screenshot o

[2022-10-25 10:27] akanshaaa19 commented on #498
Please assign

[2022-10-25 10:27] Viren0602 commented on #426
Hello sir , I have raised a PR regarding issue #426 please look over it and merge my pr

[2022-10-25 10:33] rahulkarda opened #499 "Create a Accordion v2"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
![acc2](https://user-images.githubusercontent.com/76204863/197751404-bb6b573e-be16-4ea6-989f-e833bdf33a67.png)

After building the component please raise a PR with a screenshot of the

[2022-10-25 12:46] rupsha014 opened #502 "Create a footer white -15"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 15 white" src="https://user-images.githubusercontent.com/109761128/197776531-04788888-555e-4332-83f0-8e57ee6c30aa.png">

After building the component

[2022-10-25 12:48] rupsha014 opened #503 "Create a footer blue-15"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 15 Lift blue" src="https://user-images.githubusercontent.com/109761128/197776944-8579b684-8520-4b0f-98dc-5904bbaae2fd.png">

After building the compo

[2022-10-25 12:49] rupsha014 opened #504 "Create a footer black-15"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 15 Dark" src="https://user-images.githubusercontent.com/109761128/197777215-239af42f-b757-4adf-b934-3cb91c67c35e.png">

After building the component

[2022-10-25 12:51] rupsha014 opened #505 "Create a footer black-14"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 14 Dark" src="https://user-images.githubusercontent.com/109761128/197777653-c6677cfe-88d8-4a52-96f2-faf0aa59a9d0.png">

After building the component

[2022-10-25 12:53] rupsha014 opened #506 "Create a footer blue-14"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 14 Lift blue" src="https://user-images.githubusercontent.com/109761128/197777972-4c8b508d-9676-4426-b8d9-8c52d3ce0f1e.png">

After building the compo

[2022-10-25 12:54] rupsha014 opened #507 "Create a footer white-14"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 14 white" src="https://user-images.githubusercontent.com/109761128/197778237-f8a837ed-f80a-4cd4-a4c4-374856e8cf95.png">

After building the component

[2022-10-25 12:55] rupsha014 opened #508 "Create a footer white-13"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 13 white" src="https://user-images.githubusercontent.com/109761128/197778567-57bf5cee-b84c-4fef-a274-1a765de9aaa9.png">

After building the component

[2022-10-25 12:56] Aspireve commented on #507
Hey @rupsha014  Could I work on this?

[2022-10-25 12:56] rupsha014 opened #509 "Create a footer blue-13"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 13 lift blue" src="https://user-images.githubusercontent.com/109761128/197778780-c727af67-ff5c-46c7-b294-45d9118b6071.png">

After building the compo

[2022-10-25 12:58] rupsha014 opened #510 "Create a footer black-13"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 13 dark" src="https://user-images.githubusercontent.com/109761128/197779028-ab95591f-647a-4de2-96fd-85065ebf2e37.png">

After building the component

[2022-10-25 12:58] rupsha014 commented on #507
@Aspireve sure

[2022-10-25 13:35] Viren0602 commented on #510
Hello sir, can you assign this issue to me?

[2022-10-25 13:35] Viren0602 commented on #509
Hello sir, can you assign this issue to me?

[2022-10-25 13:35] Viren0602 commented on #508
Hello sir, can you assign this issue to me?

[2022-10-25 15:21] Rajdip019 commented on #497
You are already assigned to an issue. @akanshaaa19

[2022-10-25 16:12] avezqureshi14 commented on #499
Hey can you assign this to me

[2022-10-25 16:13] avezqureshi14 commented on #497
Hey bro can you assign this to me @Rajdip019

[2022-10-25 16:59] Nupoor10 commented on #503
Hello! Can you please assign me this issue I would like to work on it!

[2022-10-25 17:00] Nupoor10 commented on #504
Can you please assign me this issue I will only have to change the colors for this one!

[2022-10-25 17:35] Rajdip019 commented on #504
Go ahead @Nupoor10

[2022-10-25 17:38] Rajdip019 commented on #497
Go ahead @avezqureshi14

[2022-10-25 17:42] prem-io opened #511 "Create a Button Group component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

<img width="549" alt="Screenshot 2022-10-25 at 11 01 48 PM" src="https://user-images.githubusercontent.com/51167082/197844505-31a744d7-988f-478d-adc5-323dacc9e85f.

[2022-10-25 17:43] prem-io commented on #511
Hey @Rajdip019 @rupsha014, I want to work on this component. Kindly, assign this to me.

[2022-10-25 18:21] prem-io opened #513 "Create a Avatar Group component"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
#### Add image here

<img width="1096" alt="Screenshot 2022-10-21 at 11 14 44 PM" src="https://user-images.githubusercontent.com/51167082/197851463-6e123bb2-80cb-49ea-9f9e-79190c37fe7c

[2022-10-25 18:23] prem-io commented on #513
Hey @Rajdip019 @rupsha014, I want to work on this component. Kindly, assign this to me.

[2022-10-25 18:31] Anuran12 commented on #505
@rupsha014 I would like to work on this

[2022-10-25 18:32] streetcodec commented on #506
I am interested! Please assign @rupsha014

[2022-10-25 18:36] Rancho2002 commented on #502
I would like to work @rupsha014 @Rajdip019

[2022-10-25 18:44] prem-io commented on #513
@rupsha014 Thank you. The PR is merged. You can assign and close this issue.

[2022-10-25 19:48] TannisthaBiswas commented on #502
Please assign me

[2022-10-25 20:00] Viren0602 commented on #510
Hello sir , I have raised a PR for issue #510 Please look over it and merge my pr

[2022-10-25 20:22] #495 closed

[2022-10-25 20:23] Rajdip019 commented on #502
Go ahead @TannisthaBiswas

[2022-10-25 20:24] Rajdip019 commented on #506
Go ahead @streetcodec

[2022-10-26 02:40] Rajdip019 commented on #398
Is this one done? @bbsdevloper

[2022-10-26 04:01] avezqureshi14 commented on #497
Bro @Rajdip019 , I had made the pull request please review it and merge it

[2022-10-26 04:30] akanshaaa19 commented on #496
Completed this component find it here[https://github.com/Clueless-Community/web-ui-kit/tree/main/Content%20Cards/item-4]

[2022-10-26 04:35] akanshaaa19 commented on #509
If this is not yet completed please assign it to me

[2022-10-26 06:26] Hiresh007 commented on #426
close please

[2022-10-26 08:54] #423 closed

[2022-10-26 08:54] #426 closed

[2022-10-26 08:54] #428 closed

[2022-10-26 08:55] Rajdip019 commented on #468
Are you still working on this issue? @rakicodes

[2022-10-26 08:56] Rajdip019 commented on #470
Hey, @Tegridy are you still working on this?

[2022-10-26 08:56] SayantanStackflow opened #521 "Create a Footer 4 white"
Here is a reference to the component.
![Capture 1](https://user-images.githubusercontent.com/103353878/197981610-a0ce97f3-ec63-4501-9ef0-076513fb4ad0.PNG)

Kindly assign the issue if someone haven't started to make it yet
Thank you,
**Sayantan**

[2022-10-26 08:56] Rajdip019 commented on #471
Are you still working on this @codesmith25103

[2022-10-26 08:58] Rajdip019 commented on #521
Go ahead @SayantanStackflow build it.

[2022-10-26 09:27] Tegridy commented on #470
No, sorry you can assign someone else

[2022-10-26 09:28] prem-io commented on #513
PR merged

[2022-10-26 09:30] Rajdip019 commented on #470
@Viren0602 you cam work on this.

[2022-10-26 10:34] bbsdevloper commented on #398
its done @Rajdip019

[2022-10-26 10:36] bbsdevloper commented on #505
assign me pls

[2022-10-26 13:22] rupsha014 opened #524 "Create a footer white-12"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 12 white" src="https://user-images.githubusercontent.com/109761128/198037104-6e7eee77-b3d8-4b86-8282-7ae25f10744b.png">

After building the component

[2022-10-26 13:23] rupsha014 opened #525 "Create a footer blue-12"
One need to make this component using `HTML` and `Tailwind CSS`. I would suggest to use [Tailwind Playgrounds](https://play.tailwindcss.com/) to make things faster and quicker.

Here is a reference to the component.
####
<img width="1440" alt="Footer 12 lift blue" src="https://user-images.githubusercontent.com/109761128/198037337-5068a4dd-0bc0-4e4b-a178-cc3dc40a052a.png">

After building the compo